In [103]:
%pwd

'C:\\Users\\Shambhavi\\Downloads\\Attendance (2021-22)\\Attendance (2021-22)'

In [104]:
div = ['6B','6C','6D','7B','7D']

## 6B

In [105]:
import os
path = "C:\\Users\\Shambhavi\\Downloads\\Attendance (2021-22)\\Attendance (2021-22)\\6B French attendance (2021-22)\\August"

In [106]:
import pandas as  pd
import numpy as np
doc = pd.read_excel('VI B August Attendance.xlsx',
                   sheet_name='FRENCH',
                   skiprows=8)
doc['Student First Name'] = doc['Student First Name'].str.strip()
doc['Last Name'] = doc['Last Name'].str.strip()
doc['Full Name'] = doc['Student First Name'].map(str) + '.' + doc['Last Name'].map(str)
doc

,Roll No,GR No,Student First Name,Last Name,1 Sun,2,3,4,5,6,...,23,24,25,26,27,28 Sat,29 Sun,30,31,Full Name
0,1.0,4290.0,Saee,Ambasankar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saee.Ambasankar
1,2.0,NaN,Anjali,Bhindwale,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Anjali.Bhindwale
2,3.0,4311.0,Sarthak,Badambe,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sarthak.Badambe
3,4.0,4272.0,Devika,Chaudhari,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Devika.Chaudhari
4,5.0,4439.0,Anvay,Chougule,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Anvay.Chougule
5,6.0,4285.0,Aarya,Deshmukh,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aarya.Deshmukh
6,7.0,4250.0,Yash,Dhotre,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yash.Dhotre
7,8.0,4352.0,Chetak,Dongare,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chetak.Dongare
8,9.0,4284.0,Shayan,Ghosh,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shayan.Ghosh
9,10.0,4310.0,Aarush,Goyal,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aarush.Goyal
10,11.0,4345.0,Sesi Sai Ridhi,Gumpena,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sesi Sai Ridhi.Gumpena
11,12.0,4244.0,Shreeja,Gund,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shreeja.Gund
12,13.0,4429.0,Nachiket,Gune,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nachiket.Gune
13,14.0,4236.0,Anshul,Hundekar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Anshul.Hundekar
14,15.0,4261.0,Varad,Jagtap,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Varad.Jagtap
15,16.0,4325.0,Prasuk,Jain,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prasuk.Jain
16,17.0,4295.0,Mayank,Kalekar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mayank.Kalekar
17,18.0,4300.0,Rian,Karandikar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rian.Karandikar
18,19.0,4231.0,Shamika,Kshirsagar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shamika.Kshirsagar
19,20.0,4372.0,Tanmai,Kulkarni,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tanmai.Kulkarni
20,21.0,4303.0,Sajiri,Kuvalekar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sajiri.Kuvalekar
21,22.0,4276.0,Saumya,Mandke,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saumya.Mandke
22,23.0,4302.0,Jay,Mane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jay.Mane
23,24.0,4350.0,Adiraj,Pansare,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adiraj.Pansare
24,25.0,4281.0,Adhvik,Patel,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adhvik.Patel
25,26.0,4329.0,Yashi,Patel,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yashi.Patel
26,27.0,4248.0,Rajwardhan,Patil,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rajwardhan.Patil
27,28.0,4249.0,Siddhant,Patil,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Siddhant.Patil
28,29.0,4344.0,Dhanvi,Pithode,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dhanvi.Pithode
29,30.0,4368.0,Hamsika,Pulagalla,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hamsika.Pulagalla
30,31.0,5102.0,Srishte,Sarkar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Srishte.Sarkar
31,32.0,4294.0,Arshiya,Sayyed,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arshiya.Sayyed
32,33.0,4358.0,Daksh,Shah,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Daksh.Shah
33,34.0,NaN,Aditya,Vipradas,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aditya.Vipradas
34,35.0,4326.0,Sani,Shah,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sani.Shah
35,36.0,5337.0,Praket,Solanki,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Praket.Solanki
36,37.0,4266.0,Payal,Vitkar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Payal.Vitkar
37,38.0,4306.0,Chirag,Vitkar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chirag.Vitkar
38,39.0,4229.0,Medhansh,Wanchoo,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Medhansh.Wanchoo
39,40.0,4364.0,Bhargav,Yele,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bhargav.Yele
40,NaN,NaN,NaN,PRESENT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan.PRESENT
41,NaN,NaN,NaN,ABSENT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan.ABSENT
42,NaN,NaN,NaN,TOTAL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan.TOTAL

In [107]:
doc.columns

Index([           'Roll No',              'GR No', 'Student First Name',
                'Last Name',              '1 Sun',                    2,
                          3,                    4,                    5,
                          6,              '7 Sat',              '8 Sun',
                          9,                   10,                   11,
                         12,                   13,             '14 Sat',
                   '15 Sun',                   16,                   17,
                         18,                   19,                   20,
                   '21 Sat',             '22 Sun',                   23,
                         24,                   25,                   26,
                         27,             '28 Sat',             '29 Sun',
                         30,                   31,          'Full Name'],
      dtype='object')

In [108]:
%cd "6B French attendance (2021-22)\\August"

C:\Users\Shambhavi\Downloads\Attendance (2021-22)\Attendance (2021-22)\6B French attendance (2021-22)\August

In [109]:
%pwd

'C:\\Users\\Shambhavi\\Downloads\\Attendance (2021-22)\\Attendance (2021-22)\\6B French attendance (2021-22)\\August'

In [110]:
for filename in os.listdir(path):    
    #print(filename)
    import re
    regex = re.compile("\d+$")
    day = [(x) for x in regex.findall(filename)]
    #print(day)
    if int(day[0]) in doc.columns:
        col = int(day[0])
    elif day[0]+' Sat' in doc.columns:
        col = day[0]+' Sat'
    f = open(filename, "r",encoding='utf-16')
    readfile = f.read()
    for i in doc['Full Name']:    
        if i in readfile:
            row = doc.index[doc['Full Name']==i]
            doc.at[row,col]='P'
            print(doc.loc[row,col])
        else:
            row = doc.index[doc['Full Name']==i]
            doc.at[row,col]='A'
            print(doc.loc[row,col])

0    A
Name: 10, dtype: object
1    A
Name: 10, dtype: object
2    A
Name: 10, dtype: object
3    A
Name: 10, dtype: object
4    A
Name: 10, dtype: object
5    A
Name: 10, dtype: object
6    A
Name: 10, dtype: object
7    A
Name: 10, dtype: object
8    A
Name: 10, dtype: object
9    A
Name: 10, dtype: object
10    A
Name: 10, dtype: object
11    A
Name: 10, dtype: object
12    A
Name: 10, dtype: object
13    A
Name: 10, dtype: object
14    A
Name: 10, dtype: object
15    A
Name: 10, dtype: object
16    A
Name: 10, dtype: object
17    A
Name: 10, dtype: object
18    A
Name: 10, dtype: object
19    A
Name: 10, dtype: object
20    A
Name: 10, dtype: object
21    A
Name: 10, dtype: object
22    A
Name: 10, dtype: object
23    A
Name: 10, dtype: object
24    A
Name: 10, dtype: object
25    A
Name: 10, dtype: object
26    A
Name: 10, dtype: object
27    A
Name: 10, dtype: object
28    A
Name: 10, dtype: object
29    A
Name: 10, dtype: object
30    A
Name: 10, dtype: object
31    A
Name: 10, dtype: object
32    A
Name: 10, dtype: object
33    A
Name: 10, dtype: object
34    A
Name: 10, dtype: object
35    A
Name: 10, dtype: object
36    A
Name: 10, dtype: object
37    A
Name: 10, dtype: object
38    A
Name: 10, dtype: object
39    A
Name: 10, dtype: object
40    A
Name: 10, dtype: object
41    A
Name: 10, dtype: object
42    A
Name: 10, dtype: object
0    P
Name: 13, dtype: object
1    A
Name: 13, dtype: object
2    A
Name: 13, dtype: object
3    P
Name: 13, dtype: object
4    A
Name: 13, dtype: object
5    P
Name: 13, dtype: object
6    A
Name: 13, dtype: object
7    A
Name: 13, dtype: object
8    A
Name: 13, dtype: object
9    P
Name: 13, dtype: object
10    A
Name: 13, dtype: object
11    P
Name: 13, dtype: object
12    P
Name: 13, dtype: object
13    P
Name: 13, dtype: object
14    A
Name: 13, dtype: object
15    P
Name: 13, dtype: object
16    P
Name: 13, dtype: object
17    P
Name: 13, dtype: object
18    P
Name: 13, dtype: object
19    P
Name: 13, dtype: object
20    P
Name: 13, dtype: object
21    P
Name: 13, dtype: object
22    A
Name: 13, dtype: object
23    A
Name: 13, dtype: object
24    P
Name: 13, dtype: object
25    P
Name: 13, dtype: object
26    A
Name: 13, dtype: object
27    A
Name: 13, dtype: object
28    P
Name: 13, dtype: object
29    A
Name: 13, dtype: object
30    P
Name: 13, dtype: object
31    A
Name: 13, dtype: object
32    A
Name: 13, dtype: object
33    A
Name: 13, dtype: object
34    P
Name: 13, dtype: object
35    A
Name: 13, dtype: object
36    A
Name: 13, dtype: object
37    A
Name: 13, dtype: object
38    A
Name: 13, dtype: object
39    P
Name: 13, dtype: object
40    A
Name: 13, dtype: object
41    A
Name: 13, dtype: object
42    A
Name: 13, dtype: object
0    P
Name: 17, dtype: object
1    A
Name: 17, dtype: object
2    A
Name: 17, dtype: object
3    P
Name: 17, dtype: object
4    A
Name: 17, dtype: object
5    P
Name: 17, dtype: object
6    A
Name: 17, dtype: object
7    P
Name: 17, dtype: object
8    A
Name: 17, dtype: object
9    P
Name: 17, dtype: object
10    A
Name: 17, dtype: object
11    A
Name: 17, dtype: object
12    A
Name: 17, dtype: object
13    P
Name: 17, dtype: object
14    A
Name: 17, dtype: object
15    P
Name: 17, dtype: object
16    A
Name: 17, dtype: object
17    P
Name: 17, dtype: object
18    P
Name: 17, dtype: object
19    A
Name: 17, dtype: object
20    P
Name: 17, dtype: object
21    P
Name: 17, dtype: object
22    A
Name: 17, dtype: object
23    A
Name: 17, dtype: object
24    P
Name: 17, dtype: object
25    P
Name: 17, dtype: object
26    A
Name: 17, dtype: object
27    A
Name: 17, dtype: object
28    P
Name: 17, dtype: object
29    P
Name: 17, dtype: object
30    P
Name: 17, dtype: object
31    A
Name: 17, dtype: object
32    P
Name: 17, dtype: object
33    A
Name: 17, dtype: object
34    A
Name: 17, dtype: object
35    A
Name: 17, dtype: object
36    P
Name: 17, dtype: object
37    A
Name: 17, dtype: object
38    A
Name: 17, dtype: object
39    A
Name: 17, dtype: object
40    A
Name: 17, dtype: object
41    A
Name: 17, dtype: object
42    A
Name: 17, dtype: object
0    A
Name: 21 Sat, dtype: object
1    A
Name: 21 Sat, dtype: object
2    A
Name: 21 Sat, dtype: object
3    P
Name: 21 Sat, dtype: object
4    A
Name: 21 Sat, dtype: object
5    P
Name: 21 Sat, dtype: object
6    A
Name: 21 Sat, dtype: object
7    A
Name: 21 Sat, dtype: object
8    A
Name: 21 Sat, dtype: object
9    P
Name: 21 Sat, dtype: object
10    A
Name: 21 Sat, dtype: object
11    P
Name: 21 Sat, dtype: object
12    A
Name: 21 Sat, dtype: object
13    A
Name: 21 Sat, dtype: object
14    A
Name: 21 Sat, dtype: object
15    A
Name: 21 Sat, dtype: object
16    P
Name: 21 Sat, dtype: object
17    A
Name: 21 Sat, dtype: object
18    A
Name: 21 Sat, dtype: object
19    P
Name: 21 Sat, dtype: object
20    A
Name: 21 Sat, dtype: object
21    P
Name: 21 Sat, dtype: object
22    A
Name: 21 Sat, dtype: object
23    A
Name: 21 Sat, dtype: object
24    A
Name: 21 Sat, dtype: object
25    P
Name: 21 Sat, dtype: object
26    A
Name: 21 Sat, dtype: object
27    A
Name: 21 Sat, dtype: object
28    P
Name: 21 Sat, dtype: object
29    P
Name: 21 Sat, dtype: object
30    P
Name: 21 Sat, dtype: object
31    A
Name: 21 Sat, dtype: object
32    A
Name: 21 Sat, dtype: object
33    A
Name: 21 Sat, dtype: object
34    A
Name: 21 Sat, dtype: object
35    A
Name: 21 Sat, dtype: object
36    A
Name: 21 Sat, dtype: object
37    A
Name: 21 Sat, dtype: object
38    A
Name: 21 Sat, dtype: object
39    P
Name: 21 Sat, dtype: object
40    A
Name: 21 Sat, dtype: object
41    A
Name: 21 Sat, dtype: object
42    A
Name: 21 Sat, dtype: object
0    A
Name: 24, dtype: object
1    A
Name: 24, dtype: object
2    A
Name: 24, dtype: object
3    P
Name: 24, dtype: object
4    A
Name: 24, dtype: object
5    P
Name: 24, dtype: object
6    A
Name: 24, dtype: object
7    A
Name: 24, dtype: object
8    A
Name: 24, dtype: object
9    P
Name: 24, dtype: object
10    A
Name: 24, dtype: object
11    A
Name: 24, dtype: object
12    A
Name: 24, dtype: object
13    P
Name: 24, dtype: object
14    A
Name: 24, dtype: object
15    A
Name: 24, dtype: object
16    A
Name: 24, dtype: object
17    A
Name: 24, dtype: object
18    A
Name: 24, dtype: object
19    A
Name: 24, dtype: object
20    P
Name: 24, dtype: object
21    P
Name: 24, dtype: object
22    A
Name: 24, dtype: object
23    A
Name: 24, dtype: object
24    P
Name: 24, dtype: object
25    A
Name: 24, dtype: object
26    A
Name: 24, dtype: object
27    A
Name: 24, dtype: object
28    P
Name: 24, dtype: object
29    P
Name: 24, dtype: object
30    P
Name: 24, dtype: object
31    A
Name: 24, dtype: object
32    A
Name: 24, dtype: object
33    A
Name: 24, dtype: object
34    A
Name: 24, dtype: object
35    A
Name: 24, dtype: object
36    A
Name: 24, dtype: object
37    A
Name: 24, dtype: object
38    P
Name: 24, dtype: object
39    A
Name: 24, dtype: object
40    A
Name: 24, dtype: object
41    A
Name: 24, dtype: object
42    A
Name: 24, dtype: object
0    P
Name: 27, dtype: object
1    A
Name: 27, dtype: object
2    A
Name: 27, dtype: object
3    P
Name: 27, dtype: object
4    A
Name: 27, dtype: object
5    P
Name: 27, dtype: object
6    A
Name: 27, dtype: object
7    A
Name: 27, dtype: object
8    A
Name: 27, dtype: object
9    P
Name: 27, dtype: object
10    A
Name: 27, dtype: object
11    P
Name: 27, dtype: object
12    A
Name: 27, dtype: object
13    P
Name: 27, dtype: object
14    A
Name: 27, dtype: object
15    P
Name: 27, dtype: object
16    P
Name: 27, dtype: object
17    P
Name: 27, dtype: object
18    P
Name: 27, dtype: object
19    P
Name: 27, dtype: object
20    P
Name: 27, dtype: object
21    P
Name: 27, dtype: object
22    A
Name: 27, dtype: object
23    A
Name: 27, dtype: object
24    P
Name: 27, dtype: object
25    A
Name: 27, dtype: object
26    A
Name: 27, dtype: object
27    A
Name: 27, dtype: object
28    P
Name: 27, dtype: object
29    P
Name: 27, dtype: object
30    P
Name: 27, dtype: object
31    A
Name: 27, dtype: object
32    A
Name: 27, dtype: object
33    A
Name: 27, dtype: object
34    P
Name: 27, dtype: object
35    A
Name: 27, dtype: object
36    P
Name: 27, dtype: object
37    P
Name: 27, dtype: object
38    P
Name: 27, dtype: object
39    P
Name: 27, dtype: object
40    A
Name: 27, dtype: object
41    A
Name: 27, dtype: object
42    A
Name: 27, dtype: object
0    P
Name: 3, dtype: object
1    A
Name: 3, dtype: object
2    A
Name: 3, dtype: object
3    P
Name: 3, dtype: object
4    A
Name: 3, dtype: object
5    P
Name: 3, dtype: object
6    A
Name: 3, dtype: object
7    A
Name: 3, dtype: object
8    A
Name: 3, dtype: object
9    P
Name: 3, dtype: object
10    A
Name: 3, dtype: object
11    P
Name: 3, dtype: object
12    A
Name: 3, dtype: object
13    P
Name: 3, dtype: object
14    A
Name: 3, dtype: object
15    P
Name: 3, dtype: object
16    A
Name: 3, dtype: object
17    P
Name: 3, dtype: object
18    P
Name: 3, dtype: object
19    A
Name: 3, dtype: object
20    P
Name: 3, dtype: object
21    P
Name: 3, dtype: object
22    A
Name: 3, dtype: object
23    A
Name: 3, dtype: object
24    P
Name: 3, dtype: object
25    A
Name: 3, dtype: object
26    A

Name: 3, dtype: object
27    A
Name: 3, dtype: object
28    P
Name: 3, dtype: object
29    P
Name: 3, dtype: object
30    P
Name: 3, dtype: object
31    A
Name: 3, dtype: object
32    A
Name: 3, dtype: object
33    A
Name: 3, dtype: object
34    P
Name: 3, dtype: object
35    A
Name: 3, dtype: object
36    P
Name: 3, dtype: object
37    P
Name: 3, dtype: object
38    A
Name: 3, dtype: object
39    A
Name: 3, dtype: object
40    A
Name: 3, dtype: object
41    A
Name: 3, dtype: object
42    A
Name: 3, dtype: object
0    P
Name: 31, dtype: object
1    A
Name: 31, dtype: object
2    A
Name: 31, dtype: object
3    P
Name: 31, dtype: object
4    A
Name: 31, dtype: object
5    A
Name: 31, dtype: object
6    A
Name: 31, dtype: object
7    A
Name: 31, dtype: object
8    A
Name: 31, dtype: object
9    P
Name: 31, dtype: object
10    A
Name: 31, dtype: object
11    A
Name: 31, dtype: object
12    A
Name: 31, dtype: object
13    A
Name: 31, dtype: object
14    A
Name: 31, dtype: object
15    P
Name: 31, dtype: object
16    A
Name: 31, dtype: object
17    A
Name: 31, dtype: object
18    A
Name: 31, dtype: object
19    A
Name: 31, dtype: object
20    P
Name: 31, dtype: object
21    A
Name: 31, dtype: object
22    A
Name: 31, dtype: object
23    A
Name: 31, dtype: object
24    P
Name: 31, dtype: object
25    A
Name: 31, dtype: object
26    A
Name: 31, dtype: object
27    A
Name: 31, dtype: object
28    P
Name: 31, dtype: object
29    P
Name: 31, dtype: object
30    P
Name: 31, dtype: object
31    A
Name: 31, dtype: object
32    A
Name: 31, dtype: object
33    A
Name: 31, dtype: object
34    P
Name: 31, dtype: object
35    A
Name: 31, dtype: object
36    A
Name: 31, dtype: object
37    A
Name: 31, dtype: object
38    A
Name: 31, dtype: object
39    A
Name: 31, dtype: object
40    A
Name: 31, dtype: object
41    A
Name: 31, dtype: object
42    A
Name: 31, dtype: object
0    P
Name: 6, dtype: object
1    A
Name: 6, dtype: object
2    A
Name: 6, dtype: object
3    P
Name: 6, dtype: object
4    A
Name: 6, dtype: object
5    P
Name: 6, dtype: object
6    A
Name: 6, dtype: object
7    A
Name: 6, dtype: object
8    A
Name: 6, dtype: object
9    A
Name: 6, dtype: object
10    A
Name: 6, dtype: object
11    P
Name: 6, dtype: object
12    A
Name: 6, dtype: object
13    P
Name: 6, dtype: object
14    A
Name: 6, dtype: object
15    P
Name: 6, dtype: object
16    A
Name: 6, dtype: object
17    P
Name: 6, dtype: object
18    A
Name: 6, dtype: object
19    P
Name: 6, dtype: object
20    P
Name: 6, dtype: object
21    P
Name: 6, dtype: object
22    A
Name: 6, dtype: object
23    A
Name: 6, dtype: object
24    P
Name: 6, dtype: object
25    P
Name: 6, dtype: object
26    A
Name: 6, dtype: object
27    A
Name: 6, dtype: object
28    P
Name: 6, dtype: object
29    P
Name: 6, dtype: object
30    P
Name: 6, dtype: object
31    A
Name: 6, dtype: object
32    A
Name: 6, dtype: object
33    A
Name: 6, dtype: object
34    P
Name: 6, dtype: object
35    A
Name: 6, dtype: object
36    A
Name: 6, dtype: object
37    A
Name: 6, dtype: object
38    A
Name: 6, dtype: object
39    P
Name: 6, dtype: object
40    A
Name: 6, dtype: object
41    A
Name: 6, dtype: object
42    A
Name: 6, dtype: object

In [111]:
doc

,Roll No,GR No,Student First Name,Last Name,1 Sun,2,3,4,5,6,...,23,24,25,26,27,28 Sat,29 Sun,30,31,Full Name
0,1.0,4290.0,Saee,Ambasankar,NaN,NaN,P,NaN,NaN,P,...,NaN,A,NaN,NaN,P,NaN,NaN,NaN,P,Saee.Ambasankar
1,2.0,NaN,Anjali,Bhindwale,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Anjali.Bhindwale
2,3.0,4311.0,Sarthak,Badambe,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Sarthak.Badambe
3,4.0,4272.0,Devika,Chaudhari,NaN,NaN,P,NaN,NaN,P,...,NaN,P,NaN,NaN,P,NaN,NaN,NaN,P,Devika.Chaudhari
4,5.0,4439.0,Anvay,Chougule,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Anvay.Chougule
5,6.0,4285.0,Aarya,Deshmukh,NaN,NaN,P,NaN,NaN,P,...,NaN,P,NaN,NaN,P,NaN,NaN,NaN,A,Aarya.Deshmukh
6,7.0,4250.0,Yash,Dhotre,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Yash.Dhotre
7,8.0,4352.0,Chetak,Dongare,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Chetak.Dongare
8,9.0,4284.0,Shayan,Ghosh,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Shayan.Ghosh
9,10.0,4310.0,Aarush,Goyal,NaN,NaN,P,NaN,NaN,A,...,NaN,P,NaN,NaN,P,NaN,NaN,NaN,P,Aarush.Goyal
10,11.0,4345.0,Sesi Sai Ridhi,Gumpena,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Sesi Sai Ridhi.Gumpena
11,12.0,4244.0,Shreeja,Gund,NaN,NaN,P,NaN,NaN,P,...,NaN,A,NaN,NaN,P,NaN,NaN,NaN,A,Shreeja.Gund
12,13.0,4429.0,Nachiket,Gune,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Nachiket.Gune
13,14.0,4236.0,Anshul,Hundekar,NaN,NaN,P,NaN,NaN,P,...,NaN,P,NaN,NaN,P,NaN,NaN,NaN,A,Anshul.Hundekar
14,15.0,4261.0,Varad,Jagtap,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Varad.Jagtap
15,16.0,4325.0,Prasuk,Jain,NaN,NaN,P,NaN,NaN,P,...,NaN,A,NaN,NaN,P,NaN,NaN,NaN,P,Prasuk.Jain
16,17.0,4295.0,Mayank,Kalekar,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,P,NaN,NaN,NaN,A,Mayank.Kalekar
17,18.0,4300.0,Rian,Karandikar,NaN,NaN,P,NaN,NaN,P,...,NaN,A,NaN,NaN,P,NaN,NaN,NaN,A,Rian.Karandikar
18,19.0,4231.0,Shamika,Kshirsagar,NaN,NaN,P,NaN,NaN,A,...,NaN,A,NaN,NaN,P,NaN,NaN,NaN,A,Shamika.Kshirsagar
19,20.0,4372.0,Tanmai,Kulkarni,NaN,NaN,A,NaN,NaN,P,...,NaN,A,NaN,NaN,P,NaN,NaN,NaN,A,Tanmai.Kulkarni
20,21.0,4303.0,Sajiri,Kuvalekar,NaN,NaN,P,NaN,NaN,P,...,NaN,P,NaN,NaN,P,NaN,NaN,NaN,P,Sajiri.Kuvalekar
21,22.0,4276.0,Saumya,Mandke,NaN,NaN,P,NaN,NaN,P,...,NaN,P,NaN,NaN,P,NaN,NaN,NaN,A,Saumya.Mandke
22,23.0,4302.0,Jay,Mane,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Jay.Mane
23,24.0,4350.0,Adiraj,Pansare,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Adiraj.Pansare
24,25.0,4281.0,Adhvik,Patel,NaN,NaN,P,NaN,NaN,P,...,NaN,P,NaN,NaN,P,NaN,NaN,NaN,P,Adhvik.Patel
25,26.0,4329.0,Yashi,Patel,NaN,NaN,A,NaN,NaN,P,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Yashi.Patel
26,27.0,4248.0,Rajwardhan,Patil,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Rajwardhan.Patil
27,28.0,4249.0,Siddhant,Patil,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Siddhant.Patil
28,29.0,4344.0,Dhanvi,Pithode,NaN,NaN,P,NaN,NaN,P,...,NaN,P,NaN,NaN,P,NaN,NaN,NaN,P,Dhanvi.Pithode
29,30.0,4368.0,Hamsika,Pulagalla,NaN,NaN,P,NaN,NaN,P,...,NaN,P,NaN,NaN,P,NaN,NaN,NaN,P,Hamsika.Pulagalla
30,31.0,5102.0,Srishte,Sarkar,NaN,NaN,P,NaN,NaN,P,...,NaN,P,NaN,NaN,P,NaN,NaN,NaN,P,Srishte.Sarkar
31,32.0,4294.0,Arshiya,Sayyed,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Arshiya.Sayyed
32,33.0,4358.0,Daksh,Shah,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Daksh.Shah
33,34.0,NaN,Aditya,Vipradas,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Aditya.Vipradas
34,35.0,4326.0,Sani,Shah,NaN,NaN,P,NaN,NaN,P,...,NaN,A,NaN,NaN,P,NaN,NaN,NaN,P,Sani.Shah
35,36.0,5337.0,Praket,Solanki,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,Praket.Solanki
36,37.0,4266.0,Payal,Vitkar,NaN,NaN,P,NaN,NaN,A,...,NaN,A,NaN,NaN,P,NaN,NaN,NaN,A,Payal.Vitkar
37,38.0,4306.0,Chirag,Vitkar,NaN,NaN,P,NaN,NaN,A,...,NaN,A,NaN,NaN,P,NaN,NaN,NaN,A,Chirag.Vitkar
38,39.0,4229.0,Medhansh,Wanchoo,NaN,NaN,A,NaN,NaN,A,...,NaN,P,NaN,NaN,P,NaN,NaN,NaN,A,Medhansh.Wanchoo
39,40.0,4364.0,Bhargav,Yele,NaN,NaN,A,NaN,NaN,P,...,NaN,A,NaN,NaN,P,NaN,NaN,NaN,A,Bhargav.Yele
40,NaN,NaN,NaN,PRESENT,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,nan.PRESENT
41,NaN,NaN,NaN,ABSENT,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,nan.ABSENT
42,NaN,NaN,NaN,TOTAL,NaN,NaN,A,NaN,NaN,A,...,NaN,A,NaN,NaN,A,NaN,NaN,NaN,A,nan.TOTAL

In [112]:
doc.to_excel('6B August Attendance done.xlsx')

## 6C

In [113]:
%cd ..
%cd ..

C:\Users\Shambhavi\Downloads\Attendance (2021-22)\Attendance (2021-22)\6B French attendance (2021-22)
C:\Users\Shambhavi\Downloads\Attendance (2021-22)\Attendance (2021-22)

In [114]:
import os
path = "C:\\Users\\Shambhavi\\Downloads\\Attendance (2021-22)\\Attendance (2021-22)\\6C French attendance (2021-22)\\August"

In [115]:
import pandas as  pd
import numpy as np
doc = pd.read_excel('VI C August Attendance.xlsx',
                   sheet_name='French',
                   skiprows=8)
doc['Student First Name'] = doc['Student First Name'].str.strip()
doc['Last Name'] = doc['Last Name'].str.strip()
doc['Full Name'] = doc['Student First Name'].map(str) + '.' + doc['Last Name'].map(str)
doc

,Roll No,GR No,Student First Name,Last Name,1 Sun,2,3,4,5,6,...,23,24,25,26,27,28 Sat,29 Sun,30,31,Full Name
0,1,4354,Mohit,Bafna,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mohit.Bafna
1,2,4243,Sejal,Baheti,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sejal.Baheti
2,3,4593,Aarya,Bellad,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aarya.Bellad
3,4,4287,Rashi,Bodke,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rashi.Bodke
4,5,4367,Avani,Chaskar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Avani.Chaskar
5,6,4304,Chhayank,Chaudhari,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chhayank.Chaudhari
6,7,4271,Shalvi,Deshpande,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shalvi.Deshpande
7,8,4332,Shoanak,Deshpande,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shoanak.Deshpande
8,9,4245,Naitik,Dhekane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Naitik.Dhekane
9,10,4251,Ishika,Dusane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ishika.Dusane
10,11,4279,Ayati,Ganjale,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ayati.Ganjale
11,12,4292,Ranveer,Ghorpade,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ranveer.Ghorpade
12,13,4273,Sanjyot,Gondil,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sanjyot.Gondil
13,14,4283,Anika,Gupta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Anika.Gupta
14,15,4613,Revati,Hartalkar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Revati.Hartalkar
15,16,4327,Trisha,Joshi,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Trisha.Joshi
16,17,4348,Aditi,Kanade,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aditi.Kanade
17,18,4346,Atharv,Kashelkar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atharv.Kashelkar
18,19,4242,Mannan,Maheshwari,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mannan.Maheshwari
19,20,4349,Kavan,Markapuram,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kavan.Markapuram
20,21,4269,Aditya,Merulingkar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aditya.Merulingkar
21,22,4264,Mehak,Munot,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mehak.Munot
22,23,4873,Soham,Nath,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Soham.Nath
23,24,4205,Dhruv.,Nimbalkar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dhruv..Nimbalkar
24,25,4331,Daiwik,Pande,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Daiwik.Pande
25,26,4361,Abeer,Pate,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abeer.Pate
26,27,4317,Tanvi,Pawar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tanvi.Pawar
27,28,4315,Arnav,Pitre,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arnav.Pitre
28,29,4277,Riya,Prabhu,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Riya.Prabhu
29,30,4239,Parineeta,Ranade,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Parineeta.Ranade
30,31,4609,Vidya,Rao,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vidya.Rao
31,32,4275,Gargi,Rathod,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gargi.Rathod
32,33,4338,Mohammad \nSafwan,Sayyed,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mohammad \nSafwan.Sayyed
33,34,4318,Anisha,Shah,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Anisha.Shah
34,35,4359,Mehan,Shah,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mehan.Shah
35,36,8517,Aarav,Sharma,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aarav.Sharma
36,37,5173,Samridhi,Sharma,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Samridhi.Sharma
37,38,4280,Aatreyu,Shau,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aatreyu.Shau
38,39,4230,Maanya,Singh,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Maanya.Singh
39,40,4592,Shivank,Sonawane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shivank.Sonawane
40,41,4420,Annika,Trehan,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Annika.Trehan

In [116]:
doc.columns

Index([           'Roll No',              'GR No', 'Student First Name',
                'Last Name',              '1 Sun',                    2,
                          3,                    4,                    5,
                          6,              '7 Sat',              '8 Sun',
                          9,                   10,                   11,
                         12,                   13,             '14 Sat',
                   '15 Sun',                   16,                   17,
                         18,                   19,                   20,
                   '21 Sat',             '22 Sun',                   23,
                         24,                   25,                   26,
                         27,             '28 Sat',             '29 Sun',
                         30,                   31,          'Full Name'],
      dtype='object')

In [117]:
%cd "6C French attendance (2021-22)\\August"

C:\Users\Shambhavi\Downloads\Attendance (2021-22)\Attendance (2021-22)\6C French attendance (2021-22)\August

In [118]:
%pwd

'C:\\Users\\Shambhavi\\Downloads\\Attendance (2021-22)\\Attendance (2021-22)\\6C French attendance (2021-22)\\August'

In [119]:
for filename in os.listdir(path):    
    #print(filename)
    import re
    regex = re.compile("\d+$")
    day = [(x) for x in regex.findall(filename)]
    #print(day)
    if int(day[0]) in doc.columns:
        col = int(day[0])
    elif day[0]+' Sat' in doc.columns:
        col = day[0]+' Sat'
    f = open(filename, "r",encoding='utf-16')
    readfile = f.read()
    for i in doc['Full Name']:    
        if i in readfile:
            row = doc.index[doc['Full Name']==i]
            doc.at[row,col]='P'
            print(doc.loc[row,col])
        else:
            row = doc.index[doc['Full Name']==i]
            doc.at[row,col]='A'
            print(doc.loc[row,col])

0    A
Name: 11, dtype: object
1    P
Name: 11, dtype: object
2    P
Name: 11, dtype: object
3    P
Name: 11, dtype: object
4    A
Name: 11, dtype: object
5    A
Name: 11, dtype: object
6    P
Name: 11, dtype: object
7    A
Name: 11, dtype: object
8    A
Name: 11, dtype: object
9    P
Name: 11, dtype: object
10    A
Name: 11, dtype: object
11    P
Name: 11, dtype: object
12    A
Name: 11, dtype: object
13    P
Name: 11, dtype: object
14    A
Name: 11, dtype: object
15    P
Name: 11, dtype: object
16    P
Name: 11, dtype: object
17    P
Name: 11, dtype: object
18    P
Name: 11, dtype: object
19    P
Name: 11, dtype: object
20    P
Name: 11, dtype: object
21    A
Name: 11, dtype: object
22    A
Name: 11, dtype: object
23    A
Name: 11, dtype: object
24    P
Name: 11, dtype: object
25    P
Name: 11, dtype: object
26    P
Name: 11, dtype: object
27    A
Name: 11, dtype: object
28    P
Name: 11, dtype: object
29    P
Name: 11, dtype: object
30    P
Name: 11, dtype: object
31    P
Name: 11, dtype: object
32    A
Name: 11, dtype: object
33    P
Name: 11, dtype: object
34    A
Name: 11, dtype: object
35    A
Name: 11, dtype: object
36    P
Name: 11, dtype: object
37    P
Name: 11, dtype: object
38    P
Name: 11, dtype: object
39    A
Name: 11, dtype: object
40    P
Name: 11, dtype: object
0    A
Name: 16, dtype: object
1    P
Name: 16, dtype: object
2    P
Name: 16, dtype: object
3    P
Name: 16, dtype: object
4    P
Name: 16, dtype: object
5    P
Name: 16, dtype: object
6    A
Name: 16, dtype: object
7    P
Name: 16, dtype: object
8    A
Name: 16, dtype: object
9    P
Name: 16, dtype: object
10    P
Name: 16, dtype: object
11    A
Name: 16, dtype: object
12    P
Name: 16, dtype: object
13    P
Name: 16, dtype: object
14    P
Name: 16, dtype: object
15    A
Name: 16, dtype: object
16    P
Name: 16, dtype: object
17    P
Name: 16, dtype: object
18    A
Name: 16, dtype: object
19    P
Name: 16, dtype: object
20    P
Name: 16, dtype: object
21    A
Name: 16, dtype: object
22    P
Name: 16, dtype: object
23    A
Name: 16, dtype: object
24    P
Name: 16, dtype: object
25    P
Name: 16, dtype: object
26    P
Name: 16, dtype: object
27    A
Name: 16, dtype: object
28    P
Name: 16, dtype: object
29    P
Name: 16, dtype: object
30    P
Name: 16, dtype: object
31    P
Name: 16, dtype: object
32    A
Name: 16, dtype: object
33    P
Name: 16, dtype: object
34    A
Name: 16, dtype: object
35    A
Name: 16, dtype: object
36    P
Name: 16, dtype: object
37    A
Name: 16, dtype: object
38    P
Name: 16, dtype: object
39    A
Name: 16, dtype: object
40    A
Name: 16, dtype: object
0    A
Name: 18, dtype: object
1    P
Name: 18, dtype: object
2    P
Name: 18, dtype: object
3    P
Name: 18, dtype: object
4    P
Name: 18, dtype: object
5    P
Name: 18, dtype: object
6    P
Name: 18, dtype: object
7    P
Name: 18, dtype: object
8    A
Name: 18, dtype: object
9    P
Name: 18, dtype: object
10    P
Name: 18, dtype: object
11    P
Name: 18, dtype: object
12    P
Name: 18, dtype: object
13    P
Name: 18, dtype: object
14    P
Name: 18, dtype: object
15    A
Name: 18, dtype: object
16    P
Name: 18, dtype: object
17    P
Name: 18, dtype: object
18    P
Name: 18, dtype: object
19    P
Name: 18, dtype: object
20    P
Name: 18, dtype: object
21    A
Name: 18, dtype: object
22    P
Name: 18, dtype: object
23    A
Name: 18, dtype: object
24    P
Name: 18, dtype: object
25    P
Name: 18, dtype: object
26    P
Name: 18, dtype: object
27    P
Name: 18, dtype: object
28    P
Name: 18, dtype: object
29    P
Name: 18, dtype: object
30    P
Name: 18, dtype: object
31    P
Name: 18, dtype: object
32    A
Name: 18, dtype: object
33    P
Name: 18, dtype: object
34    A
Name: 18, dtype: object
35    A
Name: 18, dtype: object
36    P
Name: 18, dtype: object
37    A
Name: 18, dtype: object
38    P
Name: 18, dtype: object
39    P
Name: 18, dtype: object
40    P
Name: 18, dtype: object
0    A
Name: 2, dtype: object
1    P
Name: 2, dtype: object
2    P
Name: 2, dtype: object
3    P
Name: 2, dtype: object
4    P
Name: 2, dtype: object
5    P
Name: 2, dtype: object
6    P
Name: 2, dtype: object
7    P
Name: 2, dtype: object
8    P
Name: 2, dtype: object
9    P
Name: 2, dtype: object
10    P
Name: 2, dtype: object
11    A
Name: 2, dtype: object
12    P
Name: 2, dtype: object
13    P
Name: 2, dtype: object
14    P
Name: 2, dtype: object
15    P
Name: 2, dtype: object
16    P
Name: 2, dtype: object
17    P
Name: 2, dtype: object
18    A
Name: 2, dtype: object
19    P
Name: 2, dtype: object
20    P
Name: 2, dtype: object
21    A
Name: 2, dtype: object
22    P
Name: 2, dtype: object
23    A
Name: 2, dtype: object
24    A
Name: 2, dtype: object
25    P
Name: 2, dtype: object
26    P
Name: 2, dtype: object
27    A
Name: 2, dtype: object
28    P
Name: 2, dtype: object
29    P
Name: 2, dtype: object
30    P
Name: 2, dtype: object
31    P
Name: 2, dtype: object
32    A
Name: 2, dtype: object
33    P
Name: 2, dtype: object
34    A
Name: 2, dtype: object
35    A
Name: 2, dtype: object
36    P
Name: 2, dtype: object
37    P
Name: 2, dtype: object
38    P
Name: 2, dtype: object
39    A
Name: 2, dtype: object
40    P
Name: 2, dtype: object
0    A
Name: 23, dtype: object
1    P
Name: 23, dtype: object
2    P
Name: 23, dtype: object
3    P
Name: 23, dtype: object
4    P
Name: 23, dtype: object
5    P
Name: 23, dtype: object
6    A
Name: 23, dtype: object
7    P
Name: 23, dtype: object
8    P
Name: 23, dtype: object
9    P
Name: 23, dtype: object
10    A
Name: 23, dtype: object
11    A
Name: 23, dtype: object
12    P
Name: 23, dtype: object
13    A
Name: 23, dtype: object
14    P
Name: 23, dtype: object
15    P
Name: 23, dtype: object
16    P
Name: 23, dtype: object
17    P
Name: 23, dtype: object
18    A
Name: 23, dtype: object
19    P
Name: 23, dtype: object
20    P
Name: 23, dtype: object
21    A
Name: 23, dtype: object
22    P
Name: 23, dtype: object
23    A
Name: 23, dtype: object
24    A
Name: 23, dtype: object
25    A
Name: 23, dtype: object
26    P
Name: 23, dtype: object
27    A
Name: 23, dtype: object
28    P
Name: 23, dtype: object
29    P
Name: 23, dtype: object
30    P
Name: 23, dtype: object
31    P
Name: 23, dtype: object
32    A
Name: 23, dtype: object
33    P
Name: 23, dtype: object
34    A
Name: 23, dtype: object
35    A
Name: 23, dtype: object
36    P
Name: 23, dtype: object
37    A
Name: 23, dtype: object
38    P
Name: 23, dtype: object
39    A
Name: 23, dtype: object
40    A
Name: 23, dtype: object
0    A
Name: 25, dtype: object
1    P
Name: 25, dtype: object
2    P
Name: 25, dtype: object
3    P
Name: 25, dtype: object
4    A
Name: 25, dtype: object
5    P
Name: 25, dtype: object
6    P
Name: 25, dtype: object
7    P
Name: 25, dtype: object
8    P
Name: 25, dtype: object
9    P
Name: 25, dtype: object
10    P
Name: 25, dtype: object
11    P
Name: 25, dtype: object
12    P
Name: 25, dtype: object
13    P
Name: 25, dtype: object
14    P
Name: 25, dtype: object
15    P
Name: 25, dtype: object
16    P
Name: 25, dtype: object
17    P
Name: 25, dtype: object
18    P
Name: 25, dtype: object
19    P
Name: 25, dtype: object
20    P
Name: 25, dtype: object
21    A
Name: 25, dtype: object
22    A
Name: 25, dtype: object
23    A
Name: 25, dtype: object
24    A
Name: 25, dtype: object
25    P
Name: 25, dtype: object
26    P
Name: 25, dtype: object
27    A
Name: 25, dtype: object
28    P
Name: 25, dtype: object
29    P
Name: 25, dtype: object
30    P
Name: 25, dtype: object
31    P
Name: 25, dtype: object
32    A
Name: 25, dtype: object
33    P
Name: 25, dtype: object
34    A
Name: 25, dtype: object
35    A
Name: 25, dtype: object
36    P
Name: 25, dtype: object
37    A
Name: 25, dtype: object
38    P
Name: 25, dtype: object
39    A
Name: 25, dtype: object
40    P
Name: 25, dtype: object
0    A
Name: 30, dtype: object
1    P
Name: 30, dtype: object
2    P
Name: 30, dtype: object
3    P
Name: 30, dtype: object
4    A
Name: 30, dtype: object
5    P
Name: 30, dtype: object
6    A
Name: 30, dtype: object
7    P
Name: 30, dtype: object
8    P
Name: 30, dtype: object
9    P
Name: 30, dtype: object
10    A
Name: 30, dtype: object
11    A
Name: 30, dtype: object
12    P
Name: 30, dtype: object
13    P
Name: 30, dtype: object
14    P
Name: 30, dtype: object
15    P
Name: 30, dtype: object
16    P
Name: 30, dtype: object
17    A
Name: 30, dtype: object
18    A
Name: 30, dtype: object

19    P
Name: 30, dtype: object
20    P
Name: 30, dtype: object
21    A
Name: 30, dtype: object
22    A
Name: 30, dtype: object
23    A
Name: 30, dtype: object
24    A
Name: 30, dtype: object
25    A
Name: 30, dtype: object
26    A
Name: 30, dtype: object
27    A
Name: 30, dtype: object
28    A
Name: 30, dtype: object
29    P
Name: 30, dtype: object
30    P
Name: 30, dtype: object
31    P
Name: 30, dtype: object
32    A
Name: 30, dtype: object
33    A
Name: 30, dtype: object
34    A
Name: 30, dtype: object
35    A
Name: 30, dtype: object
36    P
Name: 30, dtype: object
37    A
Name: 30, dtype: object
38    P
Name: 30, dtype: object
39    A
Name: 30, dtype: object
40    P
Name: 30, dtype: object

In [120]:
doc

,Roll No,GR No,Student First Name,Last Name,1 Sun,2,3,4,5,6,...,23,24,25,26,27,28 Sat,29 Sun,30,31,Full Name
0,1,4354,Mohit,Bafna,NaN,A,NaN,NaN,NaN,NaN,...,A,NaN,A,NaN,NaN,NaN,NaN,A,NaN,Mohit.Bafna
1,2,4243,Sejal,Baheti,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Sejal.Baheti
2,3,4593,Aarya,Bellad,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Aarya.Bellad
3,4,4287,Rashi,Bodke,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Rashi.Bodke
4,5,4367,Avani,Chaskar,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,A,NaN,NaN,NaN,NaN,A,NaN,Avani.Chaskar
5,6,4304,Chhayank,Chaudhari,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Chhayank.Chaudhari
6,7,4271,Shalvi,Deshpande,NaN,P,NaN,NaN,NaN,NaN,...,A,NaN,P,NaN,NaN,NaN,NaN,A,NaN,Shalvi.Deshpande
7,8,4332,Shoanak,Deshpande,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Shoanak.Deshpande
8,9,4245,Naitik,Dhekane,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Naitik.Dhekane
9,10,4251,Ishika,Dusane,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Ishika.Dusane
10,11,4279,Ayati,Ganjale,NaN,P,NaN,NaN,NaN,NaN,...,A,NaN,P,NaN,NaN,NaN,NaN,A,NaN,Ayati.Ganjale
11,12,4292,Ranveer,Ghorpade,NaN,A,NaN,NaN,NaN,NaN,...,A,NaN,P,NaN,NaN,NaN,NaN,A,NaN,Ranveer.Ghorpade
12,13,4273,Sanjyot,Gondil,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Sanjyot.Gondil
13,14,4283,Anika,Gupta,NaN,P,NaN,NaN,NaN,NaN,...,A,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Anika.Gupta
14,15,4613,Revati,Hartalkar,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Revati.Hartalkar
15,16,4327,Trisha,Joshi,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Trisha.Joshi
16,17,4348,Aditi,Kanade,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Aditi.Kanade
17,18,4346,Atharv,Kashelkar,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,A,NaN,Atharv.Kashelkar
18,19,4242,Mannan,Maheshwari,NaN,A,NaN,NaN,NaN,NaN,...,A,NaN,P,NaN,NaN,NaN,NaN,A,NaN,Mannan.Maheshwari
19,20,4349,Kavan,Markapuram,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Kavan.Markapuram
20,21,4269,Aditya,Merulingkar,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Aditya.Merulingkar
21,22,4264,Mehak,Munot,NaN,A,NaN,NaN,NaN,NaN,...,A,NaN,A,NaN,NaN,NaN,NaN,A,NaN,Mehak.Munot
22,23,4873,Soham,Nath,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,A,NaN,NaN,NaN,NaN,A,NaN,Soham.Nath
23,24,4205,Dhruv.,Nimbalkar,NaN,A,NaN,NaN,NaN,NaN,...,A,NaN,A,NaN,NaN,NaN,NaN,A,NaN,Dhruv..Nimbalkar
24,25,4331,Daiwik,Pande,NaN,A,NaN,NaN,NaN,NaN,...,A,NaN,A,NaN,NaN,NaN,NaN,A,NaN,Daiwik.Pande
25,26,4361,Abeer,Pate,NaN,P,NaN,NaN,NaN,NaN,...,A,NaN,P,NaN,NaN,NaN,NaN,A,NaN,Abeer.Pate
26,27,4317,Tanvi,Pawar,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,A,NaN,Tanvi.Pawar
27,28,4315,Arnav,Pitre,NaN,A,NaN,NaN,NaN,NaN,...,A,NaN,A,NaN,NaN,NaN,NaN,A,NaN,Arnav.Pitre
28,29,4277,Riya,Prabhu,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,A,NaN,Riya.Prabhu
29,30,4239,Parineeta,Ranade,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Parineeta.Ranade
30,31,4609,Vidya,Rao,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Vidya.Rao
31,32,4275,Gargi,Rathod,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Gargi.Rathod
32,33,4338,Mohammad \nSafwan,Sayyed,NaN,A,NaN,NaN,NaN,NaN,...,A,NaN,A,NaN,NaN,NaN,NaN,A,NaN,Mohammad \nSafwan.Sayyed
33,34,4318,Anisha,Shah,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,A,NaN,Anisha.Shah
34,35,4359,Mehan,Shah,NaN,A,NaN,NaN,NaN,NaN,...,A,NaN,A,NaN,NaN,NaN,NaN,A,NaN,Mehan.Shah
35,36,8517,Aarav,Sharma,NaN,A,NaN,NaN,NaN,NaN,...,A,NaN,A,NaN,NaN,NaN,NaN,A,NaN,Aarav.Sharma
36,37,5173,Samridhi,Sharma,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Samridhi.Sharma
37,38,4280,Aatreyu,Shau,NaN,P,NaN,NaN,NaN,NaN,...,A,NaN,A,NaN,NaN,NaN,NaN,A,NaN,Aatreyu.Shau
38,39,4230,Maanya,Singh,NaN,P,NaN,NaN,NaN,NaN,...,P,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Maanya.Singh
39,40,4592,Shivank,Sonawane,NaN,A,NaN,NaN,NaN,NaN,...,A,NaN,A,NaN,NaN,NaN,NaN,A,NaN,Shivank.Sonawane
40,41,4420,Annika,Trehan,NaN,P,NaN,NaN,NaN,NaN,...,A,NaN,P,NaN,NaN,NaN,NaN,P,NaN,Annika.Trehan

In [121]:
doc.to_excel('6C August Attendance done.xlsx')

## 6D

In [122]:
%cd ..
%cd ..

C:\Users\Shambhavi\Downloads\Attendance (2021-22)\Attendance (2021-22)\6C French attendance (2021-22)
C:\Users\Shambhavi\Downloads\Attendance (2021-22)\Attendance (2021-22)

In [123]:
import os
path = "C:\\Users\\Shambhavi\\Downloads\\Attendance (2021-22)\\Attendance (2021-22)\\6D French attendance (2021-22)\\August"

In [124]:
import pandas as  pd
import numpy as np
doc = pd.read_excel('VI D August Attendance.xlsx',
                   sheet_name='French',
                   skiprows=8)
doc['Student First Name'] = doc['Student First Name'].str.strip()
doc['Last Name'] = doc['Last Name'].str.strip()
doc['Full Name'] = doc['Student First Name'].map(str) + '.' + doc['Last Name'].map(str)
doc

,Roll No,GR No,Student First Name,Last Name,1 Sun,2,3,4,5,6,...,23,24,25,26,27,28 Sat,29 Sun,30,31,Full Name
0,1,4307,Gyana,Anand,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gyana.Anand
1,2,4428,Arjun,Baviskar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arjun.Baviskar
2,3,4355,Sharlet,Bonny,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sharlet.Bonny
3,4,4347,Arjun,Chaurasia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arjun.Chaurasia
4,5,4341,Suditi,Deepesh,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Suditi.Deepesh
5,6,4258,Shalaka,Deshmukh,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shalaka.Deshmukh
6,7,4614,Rashi,Dugam,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rashi.Dugam
7,8,4319,Arnav,Gosavi,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arnav.Gosavi
8,9,4340,Kaveri,Grampurohit,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaveri.Grampurohit
9,10,4268,Saanvi,Gupta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saanvi.Gupta
10,11,4293,Mardav,Jain,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mardav.Jain
11,12,4353,Aditya,Kale,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aditya.Kale
12,13,4297,Harshada,Kale,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Harshada.Kale
13,14,4246,Nidhisha,Kale,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nidhisha.Kale
14,15,4351,Arnav,Kamble,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arnav.Kamble
15,16,4274,Ira,Khajindar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ira.Khajindar
16,17,4342,Netra,Kusalkar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Netra.Kusalkar
17,18,4237,Atharv,Mahajan,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atharv.Mahajan
18,19,4255,Nirmayi,Manohar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nirmayi.Manohar
19,20,4313,Shreyas,Maslekar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shreyas.Maslekar
20,21,4234,Sanvi,More,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sanvi.More
21,22,4232,Aabha,Munot,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aabha.Munot
22,23,4253,Nandan,Mutha,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nandan.Mutha
23,24,4617,Swara,Nagarkar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swara.Nagarkar
24,25,4616,Arjun,Naikare,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arjun.Naikare
25,26,4301,Amit,Patil,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amit.Patil
26,27,3394,Arnav,Patil,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arnav.Patil
27,28,4286,Elina,Patil,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elina.Patil
28,29,4289,Chinmay,Puradal,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chinmay.Puradal
29,30,4257,Pratyush,Sancheti,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pratyush.Sancheti
30,31,4322,Ira,Sapre,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ira.Sapre
31,32,4357,Anuj,Saraf,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Anuj.Saraf
32,33,4328,Esha,Saraf,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Esha.Saraf
33,34,5172,Samyag,Shand,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Samyag.Shand
34,35,4260,Krishma,Shinde,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Krishma.Shinde
35,36,4366,Aarya,Shrimali,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aarya.Shrimali
36,37,4604,Nyasa,Singh,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nyasa.Singh
37,38,4282,Arnav,Telang,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arnav.Telang
38,39,4419,Rudraksh,Vidhate,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rudraksh.Vidhate
39,40,4418,Sanavi,Wakchaure,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sanavi.Wakchaure

In [125]:
doc.columns

Index([           'Roll No',              'GR No', 'Student First Name',
                'Last Name',              '1 Sun',                    2,
                          3,                    4,                    5,
                          6,              '7 Sat',              '8 Sun',
                          9,                   10,                   11,
                         12,                   13,             '14 Sat',
                   '15 Sun',                   16,                   17,
                         18,                   19,                   20,
                   '21 Sat',             '22 Sun',                   23,
                         24,                   25,                   26,
                         27,             '28 Sat',             '29 Sun',
                         30,                   31,          'Full Name'],
      dtype='object')

In [126]:
%cd "6D French attendance (2021-22)\\August"

C:\Users\Shambhavi\Downloads\Attendance (2021-22)\Attendance (2021-22)\6D French attendance (2021-22)\August

In [127]:
%pwd

'C:\\Users\\Shambhavi\\Downloads\\Attendance (2021-22)\\Attendance (2021-22)\\6D French attendance (2021-22)\\August'

In [128]:
for filename in os.listdir(path):    
    #print(filename)
    import re
    regex = re.compile("\d+$")
    day = [(x) for x in regex.findall(filename)]
    #print(day)
    if int(day[0]) in doc.columns:
        col = int(day[0])
    elif day[0]+' Sat' in doc.columns:
        col = day[0]+' Sat'
    f = open(filename, "r",encoding='utf-16')
    readfile = f.read()
    for i in doc['Full Name']:    
        if i in readfile:
            row = doc.index[doc['Full Name']==i]
            doc.at[row,col]='P'
            print(doc.loc[row,col])
        else:
            row = doc.index[doc['Full Name']==i]
            doc.at[row,col]='A'
            print(doc.loc[row,col])

0    P
Name: 13, dtype: object
1    A
Name: 13, dtype: object
2    A
Name: 13, dtype: object
3    A
Name: 13, dtype: object
4    P
Name: 13, dtype: object
5    P
Name: 13, dtype: object
6    P
Name: 13, dtype: object
7    A
Name: 13, dtype: object
8    P
Name: 13, dtype: object
9    A
Name: 13, dtype: object
10    P
Name: 13, dtype: object
11    P
Name: 13, dtype: object
12    P
Name: 13, dtype: object
13    P
Name: 13, dtype: object
14    A
Name: 13, dtype: object
15    A
Name: 13, dtype: object
16    A
Name: 13, dtype: object
17    P
Name: 13, dtype: object
18    P
Name: 13, dtype: object
19    A
Name: 13, dtype: object
20    P
Name: 13, dtype: object
21    P
Name: 13, dtype: object
22    P
Name: 13, dtype: object
23    A
Name: 13, dtype: object
24    P
Name: 13, dtype: object
25    A
Name: 13, dtype: object
26    A
Name: 13, dtype: object
27    P
Name: 13, dtype: object
28    P
Name: 13, dtype: object
29    A
Name: 13, dtype: object
30    P
Name: 13, dtype: object
31    A
Name: 13, dtype: object
32    P
Name: 13, dtype: object
33    P
Name: 13, dtype: object
34    A
Name: 13, dtype: object
35    P
Name: 13, dtype: object
36    P
Name: 13, dtype: object
37    P
Name: 13, dtype: object
38    P
Name: 13, dtype: object
39    P
Name: 13, dtype: object
0    P
Name: 18, dtype: object
1    A
Name: 18, dtype: object
2    A
Name: 18, dtype: object
3    A
Name: 18, dtype: object
4    P
Name: 18, dtype: object
5    P
Name: 18, dtype: object
6    P
Name: 18, dtype: object
7    A
Name: 18, dtype: object
8    A
Name: 18, dtype: object
9    P
Name: 18, dtype: object
10    A
Name: 18, dtype: object
11    P
Name: 18, dtype: object
12    A
Name: 18, dtype: object
13    P
Name: 18, dtype: object
14    A
Name: 18, dtype: object
15    P
Name: 18, dtype: object
16    P
Name: 18, dtype: object
17    P
Name: 18, dtype: object
18    P
Name: 18, dtype: object
19    A
Name: 18, dtype: object
20    P
Name: 18, dtype: object
21    P
Name: 18, dtype: object
22    P
Name: 18, dtype: object
23    P
Name: 18, dtype: object
24    A
Name: 18, dtype: object
25    A
Name: 18, dtype: object
26    A
Name: 18, dtype: object
27    A
Name: 18, dtype: object
28    P
Name: 18, dtype: object
29    A
Name: 18, dtype: object
30    P
Name: 18, dtype: object
31    P
Name: 18, dtype: object
32    P
Name: 18, dtype: object
33    P
Name: 18, dtype: object
34    P
Name: 18, dtype: object
35    P
Name: 18, dtype: object
36    P
Name: 18, dtype: object
37    P
Name: 18, dtype: object
38    P
Name: 18, dtype: object
39    P
Name: 18, dtype: object
0    P
Name: 21 Sat, dtype: object
1    A
Name: 21 Sat, dtype: object
2    A
Name: 21 Sat, dtype: object
3    A
Name: 21 Sat, dtype: object
4    P
Name: 21 Sat, dtype: object
5    P
Name: 21 Sat, dtype: object
6    P
Name: 21 Sat, dtype: object
7    P
Name: 21 Sat, dtype: object
8    P
Name: 21 Sat, dtype: object
9    P
Name: 21 Sat, dtype: object
10    P
Name: 21 Sat, dtype: object
11    P
Name: 21 Sat, dtype: object
12    P
Name: 21 Sat, dtype: object
13    P
Name: 21 Sat, dtype: object
14    A
Name: 21 Sat, dtype: object
15    P
Name: 21 Sat, dtype: object
16    A
Name: 21 Sat, dtype: object
17    P
Name: 21 Sat, dtype: object
18    P
Name: 21 Sat, dtype: object
19    P
Name: 21 Sat, dtype: object
20    P
Name: 21 Sat, dtype: object
21    P
Name: 21 Sat, dtype: object
22    P
Name: 21 Sat, dtype: object
23    P
Name: 21 Sat, dtype: object
24    P
Name: 21 Sat, dtype: object
25    P
Name: 21 Sat, dtype: object
26    A
Name: 21 Sat, dtype: object
27    P
Name: 21 Sat, dtype: object
28    P
Name: 21 Sat, dtype: object
29    A
Name: 21 Sat, dtype: object
30    P
Name: 21 Sat, dtype: object
31    P
Name: 21 Sat, dtype: object
32    P
Name: 21 Sat, dtype: object
33    P
Name: 21 Sat, dtype: object
34    P
Name: 21 Sat, dtype: object
35    P
Name: 21 Sat, dtype: object
36    P
Name: 21 Sat, dtype: object
37    P
Name: 21 Sat, dtype: object
38    P
Name: 21 Sat, dtype: object
39    P
Name: 21 Sat, dtype: object
0    A
Name: 25, dtype: object
1    A
Name: 25, dtype: object
2    A
Name: 25, dtype: object
3    A
Name: 25, dtype: object
4    P
Name: 25, dtype: object
5    P
Name: 25, dtype: object
6    P
Name: 25, dtype: object
7    A
Name: 25, dtype: object
8    P
Name: 25, dtype: object
9    P
Name: 25, dtype: object
10    A
Name: 25, dtype: object
11    P
Name: 25, dtype: object
12    A
Name: 25, dtype: object
13    P
Name: 25, dtype: object
14    A
Name: 25, dtype: object
15    A
Name: 25, dtype: object
16    A
Name: 25, dtype: object
17    A
Name: 25, dtype: object
18    P
Name: 25, dtype: object
19    A
Name: 25, dtype: object
20    P
Name: 25, dtype: object
21    A
Name: 25, dtype: object
22    P
Name: 25, dtype: object
23    A
Name: 25, dtype: object
24    A
Name: 25, dtype: object
25    A
Name: 25, dtype: object
26    A
Name: 25, dtype: object
27    A
Name: 25, dtype: object
28    P
Name: 25, dtype: object
29    A
Name: 25, dtype: object
30    P
Name: 25, dtype: object
31    A
Name: 25, dtype: object
32    A
Name: 25, dtype: object
33    P
Name: 25, dtype: object
34    A
Name: 25, dtype: object
35    A
Name: 25, dtype: object
36    P
Name: 25, dtype: object
37    P
Name: 25, dtype: object
38    P
Name: 25, dtype: object
39    P
Name: 25, dtype: object
0    A
Name: 27, dtype: object
1    A
Name: 27, dtype: object
2    A
Name: 27, dtype: object
3    A
Name: 27, dtype: object
4    P
Name: 27, dtype: object
5    P
Name: 27, dtype: object
6    P
Name: 27, dtype: object
7    P
Name: 27, dtype: object
8    A
Name: 27, dtype: object
9    P
Name: 27, dtype: object
10    P
Name: 27, dtype: object
11    P
Name: 27, dtype: object
12    P
Name: 27, dtype: object
13    P
Name: 27, dtype: object
14    A
Name: 27, dtype: object
15    P
Name: 27, dtype: object
16    A
Name: 27, dtype: object
17    P
Name: 27, dtype: object
18    P
Name: 27, dtype: object
19    P
Name: 27, dtype: object
20    P
Name: 27, dtype: object
21    P
Name: 27, dtype: object
22    P
Name: 27, dtype: object
23    A
Name: 27, dtype: object
24    P
Name: 27, dtype: object
25    P
Name: 27, dtype: object
26    A
Name: 27, dtype: object
27    A
Name: 27, dtype: object
28    P
Name: 27, dtype: object
29    P
Name: 27, dtype: object
30    P
Name: 27, dtype: object
31    P
Name: 27, dtype: object
32    P
Name: 27, dtype: object
33    P
Name: 27, dtype: object
34    P
Name: 27, dtype: object
35    A
Name: 27, dtype: object
36    P
Name: 27, dtype: object
37    P
Name: 27, dtype: object
38    P
Name: 27, dtype: object
39    P
Name: 27, dtype: object
0    A
Name: 4, dtype: object
1    A
Name: 4, dtype: object
2    A
Name: 4, dtype: object
3    A
Name: 4, dtype: object
4    P
Name: 4, dtype: object
5    P
Name: 4, dtype: object
6    P
Name: 4, dtype: object
7    A
Name: 4, dtype: object
8    P
Name: 4, dtype: object
9    P
Name: 4, dtype: object
10    P
Name: 4, dtype: object
11    P
Name: 4, dtype: object
12    P
Name: 4, dtype: object
13    P
Name: 4, dtype: object
14    A
Name: 4, dtype: object
15    P
Name: 4, dtype: object
16    A
Name: 4, dtype: object
17    P
Name: 4, dtype: object
18    P
Name: 4, dtype: object
19    P
Name: 4, dtype: object
20    P
Name: 4, dtype: object
21    P
Name: 4, dtype: object
22    P
Name: 4, dtype: object
23    P
Name: 4, dtype: object
24    P
Name: 4, dtype: object
25    P
Name: 4, dtype: object
26    A
Name: 4, dtype: object
27    P
Name: 4, dtype: object
28    P
Name: 4, dtype: object
29    P
Name: 4, dtype: object
30    P
Name: 4, dtype: object
31    A
Name: 4, dtype: object
32    P
Name: 4, dtype: object
33    P
Name: 4, dtype: object
34    A
Name: 4, dtype: object
35    P
Name: 4, dtype: object
36    P
Name: 4, dtype: object
37    P
Name: 4, dtype: object
38    P
Name: 4, dtype: object
39    P
Name: 4, dtype: object
0    P
Name: 6, dtype: object
1    A
Name: 6, dtype: object
2    A
Name: 6, dtype: object
3    A
Name: 6, dtype: object
4    P
Name: 6, dtype: object
5    P
Name: 6, dtype: object
6    P
Name: 6, dtype: object
7    A
Name: 6, dtype: object
8    A
Name: 6, dtype: object
9    P
Name: 6, dtype: object
10    P
Name: 6, dtype: object
11    P
Name: 6, dtype: object
12    P
Name: 6, dtype: object
13    P
Name: 6, dtype: object
14    A
Name: 6, dtype: object
15    A
Name: 6, dtype: object
16    A
Name: 6, dtype: object
17    P
Name: 6, dtype: object
18    P
Name: 6, dtype: object
19    A
Name: 6, dtype: object
20    P
Name: 6, dtype: object
21    A
Name: 6, dtype: object
22    P
Name: 6, dtype: object
23    A
Name: 6, dtype: object
24    P
Name: 6, dtype: object
25    A
Name: 6, dtype: object
26    A
Name: 6, dtype: object
27    P
Name: 6, dtype: object
28    P
Name: 6, dtype: object
29    P
Name: 6, dtype: object
30    P
Name: 6, dtype: object
31    P

Name: 6, dtype: object
32    A
Name: 6, dtype: object
33    P
Name: 6, dtype: object
34    P
Name: 6, dtype: object
35    P
Name: 6, dtype: object
36    A
Name: 6, dtype: object
37    A
Name: 6, dtype: object
38    P
Name: 6, dtype: object
39    P
Name: 6, dtype: object
0    A
Name: 9, dtype: object
1    A
Name: 9, dtype: object
2    A
Name: 9, dtype: object
3    A
Name: 9, dtype: object
4    A
Name: 9, dtype: object
5    A
Name: 9, dtype: object
6    A
Name: 9, dtype: object
7    A
Name: 9, dtype: object
8    A
Name: 9, dtype: object
9    A
Name: 9, dtype: object
10    A
Name: 9, dtype: object
11    A
Name: 9, dtype: object
12    A
Name: 9, dtype: object
13    A
Name: 9, dtype: object
14    A
Name: 9, dtype: object
15    A
Name: 9, dtype: object
16    A
Name: 9, dtype: object
17    A
Name: 9, dtype: object
18    A
Name: 9, dtype: object
19    A
Name: 9, dtype: object
20    A
Name: 9, dtype: object
21    A
Name: 9, dtype: object
22    A
Name: 9, dtype: object
23    A
Name: 9, dtype: object
24    A
Name: 9, dtype: object
25    A
Name: 9, dtype: object
26    A
Name: 9, dtype: object
27    A
Name: 9, dtype: object
28    A
Name: 9, dtype: object
29    A
Name: 9, dtype: object
30    A
Name: 9, dtype: object
31    A
Name: 9, dtype: object
32    A
Name: 9, dtype: object
33    A
Name: 9, dtype: object
34    A
Name: 9, dtype: object
35    A
Name: 9, dtype: object
36    A
Name: 9, dtype: object
37    A
Name: 9, dtype: object
38    A
Name: 9, dtype: object
39    A
Name: 9, dtype: object

In [129]:
doc

,Roll No,GR No,Student First Name,Last Name,1 Sun,2,3,4,5,6,...,23,24,25,26,27,28 Sat,29 Sun,30,31,Full Name
0,1,4307,Gyana,Anand,NaN,NaN,NaN,A,NaN,P,...,NaN,NaN,A,NaN,A,NaN,NaN,NaN,NaN,Gyana.Anand
1,2,4428,Arjun,Baviskar,NaN,NaN,NaN,A,NaN,A,...,NaN,NaN,A,NaN,A,NaN,NaN,NaN,NaN,Arjun.Baviskar
2,3,4355,Sharlet,Bonny,NaN,NaN,NaN,A,NaN,A,...,NaN,NaN,A,NaN,A,NaN,NaN,NaN,NaN,Sharlet.Bonny
3,4,4347,Arjun,Chaurasia,NaN,NaN,NaN,A,NaN,A,...,NaN,NaN,A,NaN,A,NaN,NaN,NaN,NaN,Arjun.Chaurasia
4,5,4341,Suditi,Deepesh,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,P,NaN,P,NaN,NaN,NaN,NaN,Suditi.Deepesh
5,6,4258,Shalaka,Deshmukh,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,P,NaN,P,NaN,NaN,NaN,NaN,Shalaka.Deshmukh
6,7,4614,Rashi,Dugam,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,P,NaN,P,NaN,NaN,NaN,NaN,Rashi.Dugam
7,8,4319,Arnav,Gosavi,NaN,NaN,NaN,A,NaN,A,...,NaN,NaN,A,NaN,P,NaN,NaN,NaN,NaN,Arnav.Gosavi
8,9,4340,Kaveri,Grampurohit,NaN,NaN,NaN,P,NaN,A,...,NaN,NaN,P,NaN,A,NaN,NaN,NaN,NaN,Kaveri.Grampurohit
9,10,4268,Saanvi,Gupta,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,P,NaN,P,NaN,NaN,NaN,NaN,Saanvi.Gupta
10,11,4293,Mardav,Jain,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,A,NaN,P,NaN,NaN,NaN,NaN,Mardav.Jain
11,12,4353,Aditya,Kale,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,P,NaN,P,NaN,NaN,NaN,NaN,Aditya.Kale
12,13,4297,Harshada,Kale,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,A,NaN,P,NaN,NaN,NaN,NaN,Harshada.Kale
13,14,4246,Nidhisha,Kale,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,P,NaN,P,NaN,NaN,NaN,NaN,Nidhisha.Kale
14,15,4351,Arnav,Kamble,NaN,NaN,NaN,A,NaN,A,...,NaN,NaN,A,NaN,A,NaN,NaN,NaN,NaN,Arnav.Kamble
15,16,4274,Ira,Khajindar,NaN,NaN,NaN,P,NaN,A,...,NaN,NaN,A,NaN,P,NaN,NaN,NaN,NaN,Ira.Khajindar
16,17,4342,Netra,Kusalkar,NaN,NaN,NaN,A,NaN,A,...,NaN,NaN,A,NaN,A,NaN,NaN,NaN,NaN,Netra.Kusalkar
17,18,4237,Atharv,Mahajan,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,A,NaN,P,NaN,NaN,NaN,NaN,Atharv.Mahajan
18,19,4255,Nirmayi,Manohar,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,P,NaN,P,NaN,NaN,NaN,NaN,Nirmayi.Manohar
19,20,4313,Shreyas,Maslekar,NaN,NaN,NaN,P,NaN,A,...,NaN,NaN,A,NaN,P,NaN,NaN,NaN,NaN,Shreyas.Maslekar
20,21,4234,Sanvi,More,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,P,NaN,P,NaN,NaN,NaN,NaN,Sanvi.More
21,22,4232,Aabha,Munot,NaN,NaN,NaN,P,NaN,A,...,NaN,NaN,A,NaN,P,NaN,NaN,NaN,NaN,Aabha.Munot
22,23,4253,Nandan,Mutha,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,P,NaN,P,NaN,NaN,NaN,NaN,Nandan.Mutha
23,24,4617,Swara,Nagarkar,NaN,NaN,NaN,P,NaN,A,...,NaN,NaN,A,NaN,A,NaN,NaN,NaN,NaN,Swara.Nagarkar
24,25,4616,Arjun,Naikare,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,A,NaN,P,NaN,NaN,NaN,NaN,Arjun.Naikare
25,26,4301,Amit,Patil,NaN,NaN,NaN,P,NaN,A,...,NaN,NaN,A,NaN,P,NaN,NaN,NaN,NaN,Amit.Patil
26,27,3394,Arnav,Patil,NaN,NaN,NaN,A,NaN,A,...,NaN,NaN,A,NaN,A,NaN,NaN,NaN,NaN,Arnav.Patil
27,28,4286,Elina,Patil,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,A,NaN,A,NaN,NaN,NaN,NaN,Elina.Patil
28,29,4289,Chinmay,Puradal,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,P,NaN,P,NaN,NaN,NaN,NaN,Chinmay.Puradal
29,30,4257,Pratyush,Sancheti,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,A,NaN,P,NaN,NaN,NaN,NaN,Pratyush.Sancheti
30,31,4322,Ira,Sapre,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,P,NaN,P,NaN,NaN,NaN,NaN,Ira.Sapre
31,32,4357,Anuj,Saraf,NaN,NaN,NaN,A,NaN,P,...,NaN,NaN,A,NaN,P,NaN,NaN,NaN,NaN,Anuj.Saraf
32,33,4328,Esha,Saraf,NaN,NaN,NaN,P,NaN,A,...,NaN,NaN,A,NaN,P,NaN,NaN,NaN,NaN,Esha.Saraf
33,34,5172,Samyag,Shand,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,P,NaN,P,NaN,NaN,NaN,NaN,Samyag.Shand
34,35,4260,Krishma,Shinde,NaN,NaN,NaN,A,NaN,P,...,NaN,NaN,A,NaN,P,NaN,NaN,NaN,NaN,Krishma.Shinde
35,36,4366,Aarya,Shrimali,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,A,NaN,A,NaN,NaN,NaN,NaN,Aarya.Shrimali
36,37,4604,Nyasa,Singh,NaN,NaN,NaN,P,NaN,A,...,NaN,NaN,P,NaN,P,NaN,NaN,NaN,NaN,Nyasa.Singh
37,38,4282,Arnav,Telang,NaN,NaN,NaN,P,NaN,A,...,NaN,NaN,P,NaN,P,NaN,NaN,NaN,NaN,Arnav.Telang
38,39,4419,Rudraksh,Vidhate,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,P,NaN,P,NaN,NaN,NaN,NaN,Rudraksh.Vidhate
39,40,4418,Sanavi,Wakchaure,NaN,NaN,NaN,P,NaN,P,...,NaN,NaN,P,NaN,P,NaN,NaN,NaN,NaN,Sanavi.Wakchaure

In [130]:
doc.to_excel('6D August Attendance done.xlsx')

## 7B

In [149]:
%cd ..
%cd ..

C:\Users\Shambhavi\Downloads\Attendance (2021-22)\Attendance (2021-22)\7D French attendance (2021-22)
C:\Users\Shambhavi\Downloads\Attendance (2021-22)\Attendance (2021-22)

In [150]:
import os
path = "C:\\Users\\Shambhavi\\Downloads\\Attendance (2021-22)\\Attendance (2021-22)\\7B French attendance (2021-22)\\August"

In [151]:
import pandas as  pd
import numpy as np
doc = pd.read_excel('VII B August Attendance.xlsx',
                   sheet_name='French',
                   skiprows=8)
doc['Student First Name'] = doc['Student First Name'].str.strip()
doc['Last Name'] = doc['Last Name'].str.strip()
doc['Full Name'] = doc['Student First Name'].map(str) + ' ' + doc['Last Name'].map(str)
doc

,Roll No,GR No,Student First Name,Last Name,1 Sun,2,3,4,5,6,...,23,24,25,26,27,28 Sat,29 Sun,30,31,Full Name
0,2.0,3985.0,Aaditya,Akolkar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aaditya Akolkar
1,6.0,4100.0,Preet,Daulatabadkar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Preet Daulatabadkar
2,10.0,4939.0,Dishita,Dharmawat,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dishita Dharmawat
3,11.0,4121.0,Vibhi,Duggal,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vibhi Duggal
4,13.0,5552.0,Aadya,Ghumre,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aadya Ghumre
5,16.0,3991.0,Khyati,Jain,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Khyati Jain
6,17.0,3990.0,Aahana,Kale,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aahana Kale
7,18.0,3993.0,Ira,Khade,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ira Khade
8,19.0,4027.0,Netra,Malkarnekar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Netra Malkarnekar
9,21.0,4055.0,Riddhi,Misal,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Riddhi Misal
10,25.0,5604.0,Anannya,Kolwankar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Anannya Kolwankar
11,30.0,4059.0,Yashashree,Sakpal,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yashashree Sakpal
12,35.0,4046.0,Stasha,Shivnani,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stasha Shivnani
13,37.0,4109.0,Arnav,Singhal,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arnav Singhal
14,39.0,4057.0,Maahi,Tandale,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Maahi Tandale
15,40.0,5605.0,Bhairavi,Wani,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bhairavi Wani
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan nan
17,NaN,NaN,PRESENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRESENT nan
18,NaN,NaN,ABSENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABSENT nan
19,NaN,NaN,TOTAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL nan

In [152]:
doc.columns

Index([           'Roll No',              'GR No', 'Student First Name',
                'Last Name',              '1 Sun',                    2,
                          3,                    4,                    5,
                          6,              '7 Sat',              '8 Sun',
                          9,                   10,                   11,
                         12,                   13,             '14 Sat',
                   '15 Sun',                   16,                   17,
                         18,                   19,                   20,
                   '21 Sat',             '22 Sun',                   23,
                         24,                   25,                   26,
                         27,             '28 Sat',             '29 Sun',
                         30,                   31,          'Full Name'],
      dtype='object')

In [153]:
%cd "7B French attendance (2021-22)\\August"

C:\Users\Shambhavi\Downloads\Attendance (2021-22)\Attendance (2021-22)\7B French attendance (2021-22)\August

In [154]:
%pwd

'C:\\Users\\Shambhavi\\Downloads\\Attendance (2021-22)\\Attendance (2021-22)\\7B French attendance (2021-22)\\August'

In [155]:
for filename in os.listdir(path):    
    #print(filename)
    import re
    regex = re.compile("\d+$")
    day = [(x) for x in regex.findall(filename)]
    #print(day)
    if int(day[0]) in doc.columns:
        col = int(day[0])
    elif day[0]+' Sat' in doc.columns:
        col = day[0]+' Sat'
    f = open(filename, "r",encoding='utf-16')
    readfile = f.read()
    for i in doc['Full Name']:    
        if i in readfile:
            row = doc.index[doc['Full Name']==i]
            doc.at[row,col]='P'
            print(doc.loc[row,col])
        else:
            row = doc.index[doc['Full Name']==i]
            doc.at[row,col]='A'
            print(doc.loc[row,col])

0    A
Name: 13, dtype: object
1    P
Name: 13, dtype: object
2    P
Name: 13, dtype: object
3    P
Name: 13, dtype: object
4    A
Name: 13, dtype: object
5    A
Name: 13, dtype: object
6    A
Name: 13, dtype: object
7    A
Name: 13, dtype: object
8    A
Name: 13, dtype: object
9    P
Name: 13, dtype: object
10    A
Name: 13, dtype: object
11    P
Name: 13, dtype: object
12    A
Name: 13, dtype: object
13    A
Name: 13, dtype: object
14    A
Name: 13, dtype: object
15    A
Name: 13, dtype: object
16    A
Name: 13, dtype: object
17    A
Name: 13, dtype: object
18    A
Name: 13, dtype: object
19    A
Name: 13, dtype: object
0    P
Name: 12, dtype: object
1    P
Name: 12, dtype: object
2    P
Name: 12, dtype: object
3    P
Name: 12, dtype: object
4    A
Name: 12, dtype: object
5    A
Name: 12, dtype: object
6    P
Name: 12, dtype: object
7    A
Name: 12, dtype: object
8    A
Name: 12, dtype: object
9    P
Name: 12, dtype: object
10    A
Name: 12, dtype: object
11    P
Name: 12, dtype: object
12    P
Name: 12, dtype: object
13    A
Name: 12, dtype: object
14    A
Name: 12, dtype: object
15    A
Name: 12, dtype: object
16    A
Name: 12, dtype: object
17    A
Name: 12, dtype: object
18    A
Name: 12, dtype: object
19    A
Name: 12, dtype: object
0    P
Name: 20, dtype: object
1    P
Name: 20, dtype: object
2    P
Name: 20, dtype: object
3    P
Name: 20, dtype: object
4    A
Name: 20, dtype: object
5    A
Name: 20, dtype: object
6    A
Name: 20, dtype: object
7    A
Name: 20, dtype: object
8    A
Name: 20, dtype: object
9    P
Name: 20, dtype: object
10    A
Name: 20, dtype: object
11    P
Name: 20, dtype: object
12    P
Name: 20, dtype: object
13    A
Name: 20, dtype: object
14    A
Name: 20, dtype: object
15    A
Name: 20, dtype: object
16    A
Name: 20, dtype: object
17    A
Name: 20, dtype: object
18    A
Name: 20, dtype: object
19    A
Name: 20, dtype: object
0    P
Name: 21 Sat, dtype: object
1    P
Name: 21 Sat, dtype: object
2    P
Name: 21 Sat, dtype: object
3    P
Name: 21 Sat, dtype: object
4    A
Name: 21 Sat, dtype: object
5    A
Name: 21 Sat, dtype: object
6    P
Name: 21 Sat, dtype: object
7    A
Name: 21 Sat, dtype: object
8    A
Name: 21 Sat, dtype: object
9    P
Name: 21 Sat, dtype: object
10    A
Name: 21 Sat, dtype: object
11    P
Name: 21 Sat, dtype: object
12    A
Name: 21 Sat, dtype: object
13    A
Name: 21 Sat, dtype: object
14    A
Name: 21 Sat, dtype: object
15    A
Name: 21 Sat, dtype: object
16    A
Name: 21 Sat, dtype: object
17    A
Name: 21 Sat, dtype: object
18    A
Name: 21 Sat, dtype: object
19    A
Name: 21 Sat, dtype: object
0    P
Name: 26, dtype: object
1    P
Name: 26, dtype: object
2    P
Name: 26, dtype: object
3    P
Name: 26, dtype: object
4    A
Name: 26, dtype: object
5    A
Name: 26, dtype: object
6    A
Name: 26, dtype: object
7    P
Name: 26, dtype: object
8    A
Name: 26, dtype: object
9    P
Name: 26, dtype: object
10    A
Name: 26, dtype: object
11    P
Name: 26, dtype: object
12    P
Name: 26, dtype: object
13    A
Name: 26, dtype: object
14    A
Name: 26, dtype: object
15    A
Name: 26, dtype: object
16    A
Name: 26, dtype: object
17    A
Name: 26, dtype: object
18    A
Name: 26, dtype: object
19    A
Name: 26, dtype: object
0    A
Name: 5, dtype: object
1    A
Name: 5, dtype: object
2    A
Name: 5, dtype: object
3    A
Name: 5, dtype: object
4    A
Name: 5, dtype: object
5    A
Name: 5, dtype: object
6    A
Name: 5, dtype: object
7    A
Name: 5, dtype: object
8    A
Name: 5, dtype: object
9    A
Name: 5, dtype: object
10    A
Name: 5, dtype: object
11    A
Name: 5, dtype: object
12    A
Name: 5, dtype: object
13    A
Name: 5, dtype: object
14    A
Name: 5, dtype: object
15    A
Name: 5, dtype: object
16    A
Name: 5, dtype: object
17    A
Name: 5, dtype: object
18    A
Name: 5, dtype: object
19    A
Name: 5, dtype: object
0    P
Name: 6, dtype: object
1    P
Name: 6, dtype: object
2    P
Name: 6, dtype: object
3    P
Name: 6, dtype: object
4    A
Name: 6, dtype: object
5    A
Name: 6, dtype: object
6    A
Name: 6, dtype: object
7    A
Name: 6, dtype: object
8    A
Name: 6, dtype: object
9    P
Name: 6, dtype: object
10    A
Name: 6, dtype: object
11    P
Name: 6, dtype: object
12    P
Name: 6, dtype: object
13    A
Name: 6, dtype: object
14    A
Name: 6, dtype: object
15    A
Name: 6, dtype: object
16    A
Name: 6, dtype: object
17    A
Name: 6, dtype: object
18    A
Name: 6, dtype: object
19    A
Name: 6, dtype: object

In [156]:
doc

,Roll No,GR No,Student First Name,Last Name,1 Sun,2,3,4,5,6,...,23,24,25,26,27,28 Sat,29 Sun,30,31,Full Name
0,2.0,3985.0,Aaditya,Akolkar,NaN,NaN,NaN,NaN,A,P,...,NaN,NaN,NaN,P,NaN,NaN,NaN,NaN,NaN,Aaditya Akolkar
1,6.0,4100.0,Preet,Daulatabadkar,NaN,NaN,NaN,NaN,A,P,...,NaN,NaN,NaN,P,NaN,NaN,NaN,NaN,NaN,Preet Daulatabadkar
2,10.0,4939.0,Dishita,Dharmawat,NaN,NaN,NaN,NaN,A,P,...,NaN,NaN,NaN,P,NaN,NaN,NaN,NaN,NaN,Dishita Dharmawat
3,11.0,4121.0,Vibhi,Duggal,NaN,NaN,NaN,NaN,A,P,...,NaN,NaN,NaN,P,NaN,NaN,NaN,NaN,NaN,Vibhi Duggal
4,13.0,5552.0,Aadya,Ghumre,NaN,NaN,NaN,NaN,A,A,...,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,Aadya Ghumre
5,16.0,3991.0,Khyati,Jain,NaN,NaN,NaN,NaN,A,A,...,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,Khyati Jain
6,17.0,3990.0,Aahana,Kale,NaN,NaN,NaN,NaN,A,A,...,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,Aahana Kale
7,18.0,3993.0,Ira,Khade,NaN,NaN,NaN,NaN,A,A,...,NaN,NaN,NaN,P,NaN,NaN,NaN,NaN,NaN,Ira Khade
8,19.0,4027.0,Netra,Malkarnekar,NaN,NaN,NaN,NaN,A,A,...,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,Netra Malkarnekar
9,21.0,4055.0,Riddhi,Misal,NaN,NaN,NaN,NaN,A,P,...,NaN,NaN,NaN,P,NaN,NaN,NaN,NaN,NaN,Riddhi Misal
10,25.0,5604.0,Anannya,Kolwankar,NaN,NaN,NaN,NaN,A,A,...,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,Anannya Kolwankar
11,30.0,4059.0,Yashashree,Sakpal,NaN,NaN,NaN,NaN,A,P,...,NaN,NaN,NaN,P,NaN,NaN,NaN,NaN,NaN,Yashashree Sakpal
12,35.0,4046.0,Stasha,Shivnani,NaN,NaN,NaN,NaN,A,P,...,NaN,NaN,NaN,P,NaN,NaN,NaN,NaN,NaN,Stasha Shivnani
13,37.0,4109.0,Arnav,Singhal,NaN,NaN,NaN,NaN,A,A,...,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,Arnav Singhal
14,39.0,4057.0,Maahi,Tandale,NaN,NaN,NaN,NaN,A,A,...,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,Maahi Tandale
15,40.0,5605.0,Bhairavi,Wani,NaN,NaN,NaN,NaN,A,A,...,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,Bhairavi Wani
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,A,...,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,nan nan
17,NaN,NaN,PRESENT,NaN,NaN,NaN,NaN,NaN,A,A,...,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,PRESENT nan
18,NaN,NaN,ABSENT,NaN,NaN,NaN,NaN,NaN,A,A,...,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,ABSENT nan
19,NaN,NaN,TOTAL,NaN,NaN,NaN,NaN,NaN,A,A,...,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,TOTAL nan

In [157]:
doc.to_excel('7B August Attendance done.xlsx')

## 7D

In [140]:
%cd ..
%cd ..

C:\Users\Shambhavi\Downloads\Attendance (2021-22)\Attendance (2021-22)\7D French attendance (2021-22)
C:\Users\Shambhavi\Downloads\Attendance (2021-22)\Attendance (2021-22)

In [141]:
import os
path = "C:\\Users\\Shambhavi\\Downloads\\Attendance (2021-22)\\Attendance (2021-22)\\7D French attendance (2021-22)\\August"

In [142]:
import pandas as  pd
import numpy as np
doc = pd.read_excel('VII D August Attendance.xlsx',
                   sheet_name='French',
                   skiprows=8)
doc['Student First Name'] = doc['Student First Name'].str.strip()
doc['Last Name'] = doc['Last Name'].str.strip()
doc['Full Name'] = doc['Student First Name'].map(str) + ' ' + doc['Last Name'].map(str)
doc

,Roll No,GR No,Student First Name,Last Name,1 Sun,2,3,4,5,6,...,23,24,25,26,27,28 Sat,29 Sun,30,31,Full Name
0,1.0,4090.0,Aarushi,Agarwal,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aarushi Agarwal
1,2.0,4013.0,Deven,Albal,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deven Albal
2,3.0,4085.0,Arya,Borde,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arya Borde
3,4.0,3997.0,Akshay,Borgaonkar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Akshay Borgaonkar
4,5.0,4127.0,Shailee,Dalvi,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shailee Dalvi
5,6.0,4083.0,Adveit,Deshpande,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adveit Deshpande
6,7.0,4130.0,Sakshi,Dharma,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sakshi Dharma
7,8.0,4081.0,Aarush,Dhaygude,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aarush Dhaygude
8,9.0,4079.0,Arisha,Gangrade,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arisha Gangrade
9,10.0,4012.0,Armaan,Hazra,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Armaan Hazra
10,11.0,4924.0,Purva,Hole,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Purva Hole
11,12.0,4112.0,Krishpalsinh,Jadeja,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Krishpalsinh Jadeja
12,13.0,4092.0,Aasna,Jariwala,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aasna Jariwala
13,14.0,4125.0,Anushka,Kalavade,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Anushka Kalavade
14,15.0,4074.0,Shlok,Kharde,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shlok Kharde
15,16.0,4003.0,Shaurya,Kotecha,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shaurya Kotecha
16,17.0,4038.0,Ahana,Kulkarni,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ahana Kulkarni
17,18.0,4073.0,Anuja,Kulkarni,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Anuja Kulkarni
18,19.0,4031.0,Aarya,Lanje,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aarya Lanje
19,20.0,4071.0,Mahin,Malvadkar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mahin Malvadkar
20,21.0,4870.0,Ekagra,Mandal,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ekagra Mandal
21,22.0,4050.0,Kavan,Pate,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kavan Pate
22,23.0,4015.0,Charvi,Pathak,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charvi Pathak
23,24.0,4000.0,Digvijay,Patil,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Digvijay Patil
24,25.0,4042.0,Shauryaa,Patil,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shauryaa Patil
25,26.0,4039.0,Ishita,Pattanshetti,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ishita Pattanshetti
26,27.0,4062.0,Yashoneil,Pawar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yashoneil Pawar
27,28.0,4871.0,Saumya,Pimpalkar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saumya Pimpalkar
28,29.0,4010.0,Dhrti,Rao,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dhrti Rao
29,30.0,3988.0,Sara,Sale,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sara Sale
30,31.0,4869.0,Hitansh,Sharma,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hitansh Sharma
31,32.0,4423.0,Vipanchi,Somasi,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vipanchi Somasi
32,33.0,4605.0,Archisha,Srivastav,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Archisha Srivastav
33,34.0,4037.0,Ruchit,Sunkersett,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ruchit Sunkersett
34,35.0,4101.0,Sriyansh,Thigulla,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sriyansh Thigulla
35,36.0,4606.0,Parth,Utekar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Parth Utekar
36,37.0,4001.0,Ananya,Vedak,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ananya Vedak
37,38.0,4032.0,Vishwajitram,Venkatasubramanian V,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vishwajitram Venkatasubramanian V
38,39.0,4016.0,Aaroh,Vidwansa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aaroh Vidwansa
39,40.0,4106.0,Rino,Vinoth,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rino Vinoth
40,NaN,NaN,NaN,PRESENT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan PRESENT
41,NaN,NaN,NaN,ABSENT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan ABSENT
42,NaN,NaN,NaN,TOTAL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan TOTAL

In [143]:
doc.columns

Index([           'Roll No',              'GR No', 'Student First Name',
                'Last Name',              '1 Sun',                    2,
                          3,                    4,                    5,
                          6,              '7 Sat',              '8 Sun',
                          9,                   10,                   11,
                         12,                   13,             '14 Sat',
                   '15 Sun',                   16,                   17,
                         18,                   19,                   20,
                   '21 Sat',             '22 Sun',                   23,
                         24,                   25,                   26,
                         27,             '28 Sat',             '29 Sun',
                         30,                   31,          'Full Name'],
      dtype='object')

In [144]:
%cd "7D French attendance (2021-22)\\August"

C:\Users\Shambhavi\Downloads\Attendance (2021-22)\Attendance (2021-22)\7D French attendance (2021-22)\August

In [145]:
%pwd

'C:\\Users\\Shambhavi\\Downloads\\Attendance (2021-22)\\Attendance (2021-22)\\7D French attendance (2021-22)\\August'

In [146]:
for filename in os.listdir(path):    
    #print(filename)
    import re
    regex = re.compile("\d+$")
    day = [(x) for x in regex.findall(filename)]
    #print(day)
    if int(day[0]) in doc.columns:
        col = int(day[0])
    elif day[0]+' Sat' in doc.columns:
        col = day[0]+' Sat'
    f = open(filename, "r",encoding='utf-16')
    readfile = f.read()
    for i in doc['Full Name']:    
        if i in readfile:
            row = doc.index[doc['Full Name']==i]
            doc.at[row,col]='P'
            print(doc.loc[row,col])
        else:
            row = doc.index[doc['Full Name']==i]
            doc.at[row,col]='A'
            print(doc.loc[row,col])

0    A
Name: 10, dtype: object
1    P
Name: 10, dtype: object
2    A
Name: 10, dtype: object
3    A
Name: 10, dtype: object
4    A
Name: 10, dtype: object
5    A
Name: 10, dtype: object
6    P
Name: 10, dtype: object
7    A
Name: 10, dtype: object
8    P
Name: 10, dtype: object
9    A
Name: 10, dtype: object
10    A
Name: 10, dtype: object
11    P
Name: 10, dtype: object
12    P
Name: 10, dtype: object
13    P
Name: 10, dtype: object
14    A
Name: 10, dtype: object
15    P
Name: 10, dtype: object
16    A
Name: 10, dtype: object
17    P
Name: 10, dtype: object
18    P
Name: 10, dtype: object
19    A
Name: 10, dtype: object
20    P
Name: 10, dtype: object
21    A
Name: 10, dtype: object
22    A
Name: 10, dtype: object
23    P
Name: 10, dtype: object
24    A
Name: 10, dtype: object
25    A
Name: 10, dtype: object
26    A
Name: 10, dtype: object
27    A
Name: 10, dtype: object
28    P
Name: 10, dtype: object
29    A
Name: 10, dtype: object
30    P
Name: 10, dtype: object
31    A
Name: 10, dtype: object
32    P
Name: 10, dtype: object
33    A
Name: 10, dtype: object
34    P
Name: 10, dtype: object
35    A
Name: 10, dtype: object
36    A
Name: 10, dtype: object
37    A
Name: 10, dtype: object
38    P
Name: 10, dtype: object
39    A
Name: 10, dtype: object
40    A
Name: 10, dtype: object
41    A
Name: 10, dtype: object
42    A
Name: 10, dtype: object
0    A
Name: 12, dtype: object
1    P
Name: 12, dtype: object
2    P
Name: 12, dtype: object
3    A
Name: 12, dtype: object
4    A
Name: 12, dtype: object
5    P
Name: 12, dtype: object
6    A
Name: 12, dtype: object
7    A
Name: 12, dtype: object
8    P
Name: 12, dtype: object
9    A
Name: 12, dtype: object
10    A
Name: 12, dtype: object
11    A
Name: 12, dtype: object
12    P
Name: 12, dtype: object
13    P
Name: 12, dtype: object
14    A
Name: 12, dtype: object
15    P
Name: 12, dtype: object
16    A
Name: 12, dtype: object
17    P
Name: 12, dtype: object
18    P
Name: 12, dtype: object
19    P
Name: 12, dtype: object
20    P
Name: 12, dtype: object
21    A
Name: 12, dtype: object
22    A
Name: 12, dtype: object
23    P
Name: 12, dtype: object
24    A
Name: 12, dtype: object
25    P
Name: 12, dtype: object
26    A
Name: 12, dtype: object
27    A
Name: 12, dtype: object
28    P
Name: 12, dtype: object
29    A
Name: 12, dtype: object
30    P
Name: 12, dtype: object
31    A
Name: 12, dtype: object
32    A
Name: 12, dtype: object
33    A
Name: 12, dtype: object
34    P
Name: 12, dtype: object
35    A
Name: 12, dtype: object
36    A
Name: 12, dtype: object
37    A
Name: 12, dtype: object
38    P
Name: 12, dtype: object
39    A
Name: 12, dtype: object
40    A
Name: 12, dtype: object
41    A
Name: 12, dtype: object
42    A
Name: 12, dtype: object
0    A
Name: 17, dtype: object
1    P
Name: 17, dtype: object
2    A
Name: 17, dtype: object
3    A
Name: 17, dtype: object
4    A
Name: 17, dtype: object
5    A
Name: 17, dtype: object
6    A
Name: 17, dtype: object
7    A
Name: 17, dtype: object
8    P
Name: 17, dtype: object
9    A
Name: 17, dtype: object
10    A
Name: 17, dtype: object
11    P
Name: 17, dtype: object
12    P
Name: 17, dtype: object
13    A
Name: 17, dtype: object
14    A
Name: 17, dtype: object
15    A
Name: 17, dtype: object
16    A
Name: 17, dtype: object
17    P
Name: 17, dtype: object
18    P
Name: 17, dtype: object
19    P
Name: 17, dtype: object
20    P
Name: 17, dtype: object
21    A
Name: 17, dtype: object
22    A
Name: 17, dtype: object
23    P
Name: 17, dtype: object
24    A
Name: 17, dtype: object
25    A
Name: 17, dtype: object
26    A
Name: 17, dtype: object
27    A
Name: 17, dtype: object
28    P
Name: 17, dtype: object
29    A
Name: 17, dtype: object
30    P
Name: 17, dtype: object
31    A
Name: 17, dtype: object
32    P
Name: 17, dtype: object
33    A
Name: 17, dtype: object
34    P
Name: 17, dtype: object
35    A
Name: 17, dtype: object
36    A
Name: 17, dtype: object
37    A
Name: 17, dtype: object
38    P
Name: 17, dtype: object
39    A
Name: 17, dtype: object
40    A
Name: 17, dtype: object
41    A
Name: 17, dtype: object
42    A
Name: 17, dtype: object
0    A
Name: 20, dtype: object
1    P
Name: 20, dtype: object
2    A
Name: 20, dtype: object
3    A
Name: 20, dtype: object
4    A
Name: 20, dtype: object
5    A
Name: 20, dtype: object
6    A
Name: 20, dtype: object
7    A
Name: 20, dtype: object
8    A
Name: 20, dtype: object
9    A
Name: 20, dtype: object
10    A
Name: 20, dtype: object
11    P
Name: 20, dtype: object
12    P
Name: 20, dtype: object
13    P
Name: 20, dtype: object
14    A
Name: 20, dtype: object
15    A
Name: 20, dtype: object
16    A
Name: 20, dtype: object
17    P
Name: 20, dtype: object
18    P
Name: 20, dtype: object
19    A
Name: 20, dtype: object
20    P
Name: 20, dtype: object
21    A
Name: 20, dtype: object
22    A
Name: 20, dtype: object
23    A
Name: 20, dtype: object
24    P
Name: 20, dtype: object
25    P
Name: 20, dtype: object
26    A
Name: 20, dtype: object
27    A
Name: 20, dtype: object
28    P
Name: 20, dtype: object
29    A
Name: 20, dtype: object
30    P
Name: 20, dtype: object
31    A
Name: 20, dtype: object
32    P
Name: 20, dtype: object
33    A
Name: 20, dtype: object
34    P
Name: 20, dtype: object
35    A
Name: 20, dtype: object
36    A
Name: 20, dtype: object
37    A
Name: 20, dtype: object
38    A
Name: 20, dtype: object
39    A
Name: 20, dtype: object
40    A
Name: 20, dtype: object
41    A
Name: 20, dtype: object
42    A
Name: 20, dtype: object
0    A
Name: 24, dtype: object
1    P
Name: 24, dtype: object
2    P
Name: 24, dtype: object
3    A
Name: 24, dtype: object
4    A
Name: 24, dtype: object
5    P
Name: 24, dtype: object
6    A
Name: 24, dtype: object
7    A
Name: 24, dtype: object
8    A
Name: 24, dtype: object
9    A
Name: 24, dtype: object
10    A
Name: 24, dtype: object
11    P
Name: 24, dtype: object
12    P
Name: 24, dtype: object
13    A
Name: 24, dtype: object
14    A
Name: 24, dtype: object
15    P
Name: 24, dtype: object
16    A
Name: 24, dtype: object
17    P
Name: 24, dtype: object
18    P
Name: 24, dtype: object
19    A
Name: 24, dtype: object
20    P
Name: 24, dtype: object
21    A
Name: 24, dtype: object
22    A
Name: 24, dtype: object
23    P
Name: 24, dtype: object
24    A
Name: 24, dtype: object
25    A
Name: 24, dtype: object
26    A
Name: 24, dtype: object
27    A
Name: 24, dtype: object
28    P
Name: 24, dtype: object
29    A
Name: 24, dtype: object
30    P
Name: 24, dtype: object
31    A
Name: 24, dtype: object
32    P
Name: 24, dtype: object
33    A
Name: 24, dtype: object
34    P
Name: 24, dtype: object
35    A
Name: 24, dtype: object
36    A
Name: 24, dtype: object
37    A
Name: 24, dtype: object
38    P
Name: 24, dtype: object
39    A
Name: 24, dtype: object
40    A
Name: 24, dtype: object
41    A
Name: 24, dtype: object
42    A
Name: 24, dtype: object
0    A
Name: 26, dtype: object
1    P
Name: 26, dtype: object
2    P
Name: 26, dtype: object
3    A
Name: 26, dtype: object
4    A
Name: 26, dtype: object
5    A
Name: 26, dtype: object
6    P
Name: 26, dtype: object
7    A
Name: 26, dtype: object
8    A
Name: 26, dtype: object
9    A
Name: 26, dtype: object
10    A
Name: 26, dtype: object
11    P
Name: 26, dtype: object
12    P
Name: 26, dtype: object
13    P
Name: 26, dtype: object
14    A
Name: 26, dtype: object
15    A
Name: 26, dtype: object
16    A
Name: 26, dtype: object
17    P
Name: 26, dtype: object
18    P
Name: 26, dtype: object
19    P
Name: 26, dtype: object
20    P
Name: 26, dtype: object
21    A
Name: 26, dtype: object
22    A
Name: 26, dtype: object
23    P
Name: 26, dtype: object
24    A
Name: 26, dtype: object
25    P
Name: 26, dtype: object
26    A
Name: 26, dtype: object
27    A
Name: 26, dtype: object
28    P
Name: 26, dtype: object
29    A
Name: 26, dtype: object
30    P
Name: 26, dtype: object
31    A
Name: 26, dtype: object
32    P
Name: 26, dtype: object
33    A
Name: 26, dtype: object
34    P
Name: 26, dtype: object
35    A
Name: 26, dtype: object
36    A
Name: 26, dtype: object
37    A
Name: 26, dtype: object
38    P
Name: 26, dtype: object
39    A
Name: 26, dtype: object
40    A
Name: 26, dtype: object
41    A
Name: 26, dtype: object
42    A
Name: 26, dtype: object
0    A
Name: 3, dtype: object
1    P
Name: 3, dtype: object
2    P
Name: 3, dtype: object
3    A
Name: 3, dtype: object
4    A
Name: 3, dtype: object
5    P
Name: 3, dtype: object
6    A
Name: 3, dtype: object
7    A
Name: 3, dtype: object
8    P
Name: 3, dtype: object
9    A
Name: 3, dtype: object
10    A
Name: 3, dtype: object
11    P
Name: 3, dtype: object
12    P
Name: 3, dtype: object
13    P
Name: 3, dtype: object
14    A
Name: 3, dtype: object
15    P
Name: 3, dtype: object
16    A
Name: 3, dtype: object
17    P
Name: 3, dtype: object
18    P
Name: 3, dtype: object
19    P
Name: 3, dtype: object
20    P
Name: 3, dtype: object
21    A
Name: 3, dtype: object

22    A
Name: 3, dtype: object
23    P
Name: 3, dtype: object
24    A
Name: 3, dtype: object
25    P
Name: 3, dtype: object
26    A
Name: 3, dtype: object
27    A
Name: 3, dtype: object
28    P
Name: 3, dtype: object
29    A
Name: 3, dtype: object
30    P
Name: 3, dtype: object
31    A
Name: 3, dtype: object
32    P
Name: 3, dtype: object
33    A
Name: 3, dtype: object
34    P
Name: 3, dtype: object
35    A
Name: 3, dtype: object
36    A
Name: 3, dtype: object
37    A
Name: 3, dtype: object
38    P
Name: 3, dtype: object
39    A
Name: 3, dtype: object
40    A
Name: 3, dtype: object
41    A
Name: 3, dtype: object
42    A
Name: 3, dtype: object
0    A
Name: 31, dtype: object
1    P
Name: 31, dtype: object
2    P
Name: 31, dtype: object
3    A
Name: 31, dtype: object
4    A
Name: 31, dtype: object
5    A
Name: 31, dtype: object
6    A
Name: 31, dtype: object
7    A
Name: 31, dtype: object
8    A
Name: 31, dtype: object
9    A
Name: 31, dtype: object
10    A
Name: 31, dtype: object
11    P
Name: 31, dtype: object
12    P
Name: 31, dtype: object
13    A
Name: 31, dtype: object
14    A
Name: 31, dtype: object
15    A
Name: 31, dtype: object
16    A
Name: 31, dtype: object
17    P
Name: 31, dtype: object
18    P
Name: 31, dtype: object
19    P
Name: 31, dtype: object
20    P
Name: 31, dtype: object
21    A
Name: 31, dtype: object
22    A
Name: 31, dtype: object
23    P
Name: 31, dtype: object
24    A
Name: 31, dtype: object
25    P
Name: 31, dtype: object
26    A
Name: 31, dtype: object
27    A
Name: 31, dtype: object
28    P
Name: 31, dtype: object
29    A
Name: 31, dtype: object
30    P
Name: 31, dtype: object
31    A
Name: 31, dtype: object
32    P
Name: 31, dtype: object
33    A
Name: 31, dtype: object
34    P
Name: 31, dtype: object
35    A
Name: 31, dtype: object
36    A
Name: 31, dtype: object
37    A
Name: 31, dtype: object
38    P
Name: 31, dtype: object
39    A
Name: 31, dtype: object
40    A
Name: 31, dtype: object
41    A
Name: 31, dtype: object
42    A
Name: 31, dtype: object
0    A
Name: 5, dtype: object
1    P
Name: 5, dtype: object
2    P
Name: 5, dtype: object
3    A
Name: 5, dtype: object
4    A
Name: 5, dtype: object
5    A
Name: 5, dtype: object
6    A
Name: 5, dtype: object
7    A
Name: 5, dtype: object
8    A
Name: 5, dtype: object
9    A
Name: 5, dtype: object
10    A
Name: 5, dtype: object
11    P
Name: 5, dtype: object
12    P
Name: 5, dtype: object
13    P
Name: 5, dtype: object
14    A
Name: 5, dtype: object
15    A
Name: 5, dtype: object
16    A
Name: 5, dtype: object
17    P
Name: 5, dtype: object
18    P
Name: 5, dtype: object
19    P
Name: 5, dtype: object
20    P
Name: 5, dtype: object
21    A
Name: 5, dtype: object
22    A
Name: 5, dtype: object
23    P
Name: 5, dtype: object
24    A
Name: 5, dtype: object
25    A
Name: 5, dtype: object
26    A
Name: 5, dtype: object
27    A
Name: 5, dtype: object
28    P
Name: 5, dtype: object
29    A
Name: 5, dtype: object
30    P
Name: 5, dtype: object
31    A
Name: 5, dtype: object
32    P
Name: 5, dtype: object
33    A
Name: 5, dtype: object
34    A
Name: 5, dtype: object
35    A
Name: 5, dtype: object
36    A
Name: 5, dtype: object
37    A
Name: 5, dtype: object
38    A
Name: 5, dtype: object
39    A
Name: 5, dtype: object
40    A
Name: 5, dtype: object
41    A
Name: 5, dtype: object
42    A
Name: 5, dtype: object

In [147]:
doc

,Roll No,GR No,Student First Name,Last Name,1 Sun,2,3,4,5,6,...,23,24,25,26,27,28 Sat,29 Sun,30,31,Full Name
0,1.0,4090.0,Aarushi,Agarwal,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Aarushi Agarwal
1,2.0,4013.0,Deven,Albal,NaN,NaN,P,NaN,P,NaN,...,NaN,P,NaN,P,NaN,NaN,NaN,NaN,P,Deven Albal
2,3.0,4085.0,Arya,Borde,NaN,NaN,P,NaN,P,NaN,...,NaN,P,NaN,P,NaN,NaN,NaN,NaN,P,Arya Borde
3,4.0,3997.0,Akshay,Borgaonkar,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Akshay Borgaonkar
4,5.0,4127.0,Shailee,Dalvi,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Shailee Dalvi
5,6.0,4083.0,Adveit,Deshpande,NaN,NaN,P,NaN,A,NaN,...,NaN,P,NaN,A,NaN,NaN,NaN,NaN,A,Adveit Deshpande
6,7.0,4130.0,Sakshi,Dharma,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,P,NaN,NaN,NaN,NaN,A,Sakshi Dharma
7,8.0,4081.0,Aarush,Dhaygude,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Aarush Dhaygude
8,9.0,4079.0,Arisha,Gangrade,NaN,NaN,P,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Arisha Gangrade
9,10.0,4012.0,Armaan,Hazra,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Armaan Hazra
10,11.0,4924.0,Purva,Hole,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Purva Hole
11,12.0,4112.0,Krishpalsinh,Jadeja,NaN,NaN,P,NaN,P,NaN,...,NaN,P,NaN,P,NaN,NaN,NaN,NaN,P,Krishpalsinh Jadeja
12,13.0,4092.0,Aasna,Jariwala,NaN,NaN,P,NaN,P,NaN,...,NaN,P,NaN,P,NaN,NaN,NaN,NaN,P,Aasna Jariwala
13,14.0,4125.0,Anushka,Kalavade,NaN,NaN,P,NaN,P,NaN,...,NaN,A,NaN,P,NaN,NaN,NaN,NaN,A,Anushka Kalavade
14,15.0,4074.0,Shlok,Kharde,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Shlok Kharde
15,16.0,4003.0,Shaurya,Kotecha,NaN,NaN,P,NaN,A,NaN,...,NaN,P,NaN,A,NaN,NaN,NaN,NaN,A,Shaurya Kotecha
16,17.0,4038.0,Ahana,Kulkarni,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Ahana Kulkarni
17,18.0,4073.0,Anuja,Kulkarni,NaN,NaN,P,NaN,P,NaN,...,NaN,P,NaN,P,NaN,NaN,NaN,NaN,P,Anuja Kulkarni
18,19.0,4031.0,Aarya,Lanje,NaN,NaN,P,NaN,P,NaN,...,NaN,P,NaN,P,NaN,NaN,NaN,NaN,P,Aarya Lanje
19,20.0,4071.0,Mahin,Malvadkar,NaN,NaN,P,NaN,P,NaN,...,NaN,A,NaN,P,NaN,NaN,NaN,NaN,P,Mahin Malvadkar
20,21.0,4870.0,Ekagra,Mandal,NaN,NaN,P,NaN,P,NaN,...,NaN,P,NaN,P,NaN,NaN,NaN,NaN,P,Ekagra Mandal
21,22.0,4050.0,Kavan,Pate,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Kavan Pate
22,23.0,4015.0,Charvi,Pathak,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Charvi Pathak
23,24.0,4000.0,Digvijay,Patil,NaN,NaN,P,NaN,P,NaN,...,NaN,P,NaN,P,NaN,NaN,NaN,NaN,P,Digvijay Patil
24,25.0,4042.0,Shauryaa,Patil,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Shauryaa Patil
25,26.0,4039.0,Ishita,Pattanshetti,NaN,NaN,P,NaN,A,NaN,...,NaN,A,NaN,P,NaN,NaN,NaN,NaN,P,Ishita Pattanshetti
26,27.0,4062.0,Yashoneil,Pawar,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Yashoneil Pawar
27,28.0,4871.0,Saumya,Pimpalkar,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Saumya Pimpalkar
28,29.0,4010.0,Dhrti,Rao,NaN,NaN,P,NaN,P,NaN,...,NaN,P,NaN,P,NaN,NaN,NaN,NaN,P,Dhrti Rao
29,30.0,3988.0,Sara,Sale,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Sara Sale
30,31.0,4869.0,Hitansh,Sharma,NaN,NaN,P,NaN,P,NaN,...,NaN,P,NaN,P,NaN,NaN,NaN,NaN,P,Hitansh Sharma
31,32.0,4423.0,Vipanchi,Somasi,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Vipanchi Somasi
32,33.0,4605.0,Archisha,Srivastav,NaN,NaN,P,NaN,P,NaN,...,NaN,P,NaN,P,NaN,NaN,NaN,NaN,P,Archisha Srivastav
33,34.0,4037.0,Ruchit,Sunkersett,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Ruchit Sunkersett
34,35.0,4101.0,Sriyansh,Thigulla,NaN,NaN,P,NaN,A,NaN,...,NaN,P,NaN,P,NaN,NaN,NaN,NaN,P,Sriyansh Thigulla
35,36.0,4606.0,Parth,Utekar,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Parth Utekar
36,37.0,4001.0,Ananya,Vedak,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Ananya Vedak
37,38.0,4032.0,Vishwajitram,Venkatasubramanian V,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Vishwajitram Venkatasubramanian V
38,39.0,4016.0,Aaroh,Vidwansa,NaN,NaN,P,NaN,A,NaN,...,NaN,P,NaN,P,NaN,NaN,NaN,NaN,P,Aaroh Vidwansa
39,40.0,4106.0,Rino,Vinoth,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,Rino Vinoth
40,NaN,NaN,NaN,PRESENT,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,nan PRESENT
41,NaN,NaN,NaN,ABSENT,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,nan ABSENT
42,NaN,NaN,NaN,TOTAL,NaN,NaN,A,NaN,A,NaN,...,NaN,A,NaN,A,NaN,NaN,NaN,NaN,A,nan TOTAL

In [148]:
doc.to_excel('7D August Attendance done.xlsx')